<footer class="footer">
  <div class="container">
    <span id="footer-text">Nightshade Urban Gardens LLC &copy;&nbsp;</span>
  </div>
</footer>
<script type="text/javascript">
  $(function(){
    var footerSpan = $("#footer-text");
    footerSpan.text(footerSpan.text() + new Date().getFullYear());
  });
</script>
