<header>
  <div class="banner">
    <center>
      <div class="banner-head"><a href="/index"><img src="./images/header_image_drop.png" alt-text="Nightshade Logo"/></a></div>
      <!--div class="banner-subhead"><a href="/index">Culinary Landscapes</a></div-->
    </center>
  </div>
  <nav class="navbar navbar-default" id="navbar-override">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">
        <span class="navbar-title">Nightshade</span>
        <span class="navbar-subtitle">Urban Agro-Ecology</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="header-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">We give a sh<span class="inline-highlight">*</span>t! <span class="inline-highlight caret"></span></a>
          <ul class="dropdown-menu">
            <li <% if (pagename == 'about') { %>class="active"<% } %> ><a href="about">Our Team</a></li>
            <li <% if (pagename == 'values') { %>class="active"<% } %> ><a href="values">Our Values</a></li>
            <li <% if (pagename == 'manifesto') { %>class="active"<% } %> ><a href="manifesto">Our Manifesto</a></li>
            <!--li <% if (pagename == 'plants') { %>class="active"<% } %> ><a href="plants">Badass Plants</a></li-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Garden Projects<span class="inline-highlight caret"></span></a>
          <ul class="dropdown-menu">

            <li <% if (pagename == 'gardens') { %>class="active"<% } %> ><a href="gardens">Why Our Projects Kick Ass</a></li>
            <li <% if (pagename == 'gallery') { %>class="active"<% } %> ><a href="gallery">Gallery</a></li>
            <li <% if (pagename == 'book') { %>class="active"<% } %> ><a href="book">Book Us<span class="inline-highlight">!</span></a></li>
            <!--li <% if (pagename == 'plants') { %>class="active"<% } %> ><a href="plants">Badass Plants</a></li-->
          </ul>
        </li>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="inline-highlight">C</span>ulinary Products<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li <% if (pagename == 'products') { %>class="active"<% } %> ><a href="products">Why Our Products Kick Ass</a></li>
            <li <% if (pagename == 'order') { %>class="active"<% } %> ><a href="order">Order Here<span class="inline-highlight">!</span></a></li>
          </ul>
        </li-->
        <li <% if (pagename == 'contact') { %>class="active"<% } %> ><a href="contact">Contact Us<span class="inline-highlight">!</span></a></li>
      </ul>
    </div>
  </nav>
</header>
