<head>
  <% if (process.env.ENV == "prod") {%><% include ga %><%}%>
  <title><% if (title) { %><%= title %> - <% } %>Nightshade Culinary Landscapes</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="./stylesheets/style.css"/>
  <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
</head>
