html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #261758;
  border-top: 5px solid #887CAF;
}

body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 80px;
}

h3 {
  margin-bottom: 15px;
}

h4 {
  font-size: 15px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #4A9130;
}

a:hover, a:focus {
  color: #73B55B;
  text-decoration: none;
}

.btn-action {
  background-color: #73B55B;
  color: white;
}

.btn-action:hover {
  color: #E8EFE6;
}

.navbar-default {
  background-color: #261758;
  border: 0;
  border-bottom: 5px solid #887CAF;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #DDD;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #887CAF;
}

.navbar-brand {
  color: #fff !important;
  font-size: 18px;
}

.navbar-title {
  font-variant: small-caps;
}

.navbar-subtitle {
  font-variant: all-small-caps;
  font-size: 16px;
}

.text-muted {
  color: #bbb !important;
}

.cell {
  background-color: #FFFFFF;
  height: 75px;
}

.cell-inner {
  background-color: #887CAF;
  margin: 20px;
  height: 75px;
}

#jumbotron-image {
  /*width: 100%;*/
  border: 1px solid #887CAF;
  width: 100%;
  /*overflow: hidden;*/
}

.about-row {
  background-color: #FFFFFF;
  border: 1px solid #731DD8;
  margin: 10px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 1px 0px #887CAF;
  -moz-box-shadow: 2px 2px 1px 0px #887CAF;
  box-shadow: 2px 2px 1px 0px #887CAF;
}

.about-row div[class^="col-"]:first-child {
  padding: 0px;
}

.about-row div[class^="col-"]:last-child {
  padding: 0px;
}

.about-row img {
  width: 100%;
  margin-bottom: 20px;
}

.about-row h3 {
  margin-top: 0px;
}

.about-row ul {
  padding-left: 20px;
}

.about-row li {
  margin-bottom: 5px;
}

.contact-details {
  word-wrap: break-word;
}

.services {
  font-size: 16px;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .page-content {
      /*-webkit-box-shadow: 2px 2px 2px 0px #887CAF;
      -moz-box-shadow: 2px 2px 2px 0px #887CAF;
      box-shadow: 2px 2px 2px 0px #887CAF;*/
      padding: 10px;
      /*min-height: 200px;*/
    }

    .navbar-brand {
      font-size: 22px;
    }

    .navbar-subtitle {
      font-size: 18px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .cell {
      min-height: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .cell-inner {
      min-height: 300px;
      margin: 10px;
    }

    .about-row {
      margin-bottom: 30px;
      padding: 30px;
    }

    .about-row div[class^="col-"]:first-child {
      padding-left: 0px;
      padding-right: 15px;
    }

    .about-row div[class^="col-"]:last-child {
      padding-left: 15px;
      padding-right: 0px;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {

}
