<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <center><h2>Finding Fulfillment <span class="small">&</span> Building Resilience in Uncertain Times</h2></center>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box highlight-box-alt">
              <!--img class="right-image backstory-image" src="./images/about_us_720_510.jpg" /-->
              <h3>The Backstory</h3>
              <p>Nightshade Culinary Landscapes is at the forefront of the DC-area green revolution: designing, installing, & maintaining customized gardens & edible landscapes for folks who value exceptional flavor and want to make a positive impact on the ecosystem and local economy.</p>
              <!--p>Our passion for urban/suburban agro-ecology is also channeled into unique culinary events and products, designed to bring awareness to and engagement with local flora & sustainable food sourcing while putting flavor and aroma at the paramount.</p>
              <p>Early on this path, we were simply concerned about improving our access to fresh herbs for cooking… so we started growing our own. Immediately, we noticed a serious jump in flavor and freshness, not to mention the unparalleled convenience that comes with having herbs available a few steps out the back door. We produced less waste, created habitat for pollinators, and found fulfillment in watching our plants flourish.</p-->              <!--p>We found a creative outlet in selecting off-the-beaten-trail flavors that complemented our favorite cooking styles and cocktail recipes. It evokes an honest sense of pride and fulfillment to snip off a couple sprigs of your own spicy orange thyme and use that astounding aroma and flavor to bring out the highest potential in your own inspired culinary creations. Sharing this joy with friends and family is what inspires us, and our goal is to bring that experience to as many DC-area cooks as we can.</p-->
              <p>We’re hardcore homecooks, guerilla gardeners, DC denizens, and big fans of living the Good Life… join us on this journey!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/bort-balcony_960_960.jpg" />
              <h3>Bort</h3>
              <p>I love life in the city and I love lush green spaces. These two things may seem incongruous, but they’re not - or at least, they don’t have to be. After all, any space that gets even the smallest sliver of indirect light can be turned into a living green space with enough motivation and a bit of knowhow.</p>
              <p>My introduction to gardening took place on a 30 square foot (or .06% of an acre) concrete balcony, attached to a small one-bedroom apartment in a high rise with a great view of Rock Creek Park and not much else going for it. It was a cramped little growing space, incredibly windy and shadowed from rain by another balcony overhead - but it got plenty of sun, and I absolutely loved it.</p>
              <p>That little garden delivered two impactful experiences early in my career. First, a hummingbird visited my garden. This tiny creature, the likes of which I had never before witnessed in the District, chose to reveal itself to me, seemingly a thank you from mother nature for my efforts. The second experience took place at the local grocery store, where a complete stranger approached me to tell me how much they missed seeing my garden from their nearby apartment after my wife and I moved to a different building nearby. They apologized for interrupting my day, and I tried to explain that they had more or less made my entire month!</p>
              <p>I have continued to grow gardens wherever I’ve lived in DC, but the amount of energy I have for it has always far exceeded the space available. Nightshade has been the natural outlet for that excess passion. Even better, I get to share the happiness and fulfillment I get from gardening with others, while creating beautiful and lush spaces that can be appreciated by all. We have an incredibly dedicated and talented team here at Nightshade, and I am honored to be part of it.</p>
              <p>While any garden is a great garden, I am particularly driven to make the city a greener, healthier, and more ecologically sustainable place to live. I love the challenge that small, unconventional spaces present. I love empowering people to grow their own food. I love watching a barren concrete patch become a living ecosystem replete with flora and fauna. And I love the knowledge that the work I do impacts not just our clients, but the community at large.</p>
              <p>If you take one thing away from this little blurb, let it be this: next time you see someone in their garden, be sure to let them know how much you enjoy it. I guarantee you will make their day.</p>
            </div>
            <hr /><!--hr class="mobile-only"/-->
          </div>
          <div class="col-sm-12">
            <div class="content-box">
              <img class="right-image personal-image" src="./images/caleb_232_300.jpg" />
              <h3>Caleb</h3>
              <p>I love nudging people out of their comfort zone to taste weird ingredients (e.g. 18-inch long green beans) and smell odd aromatic plants (e.g. Roman chamomile which smells like green apple Jolly Ranchers). There’s a whole universe of plants out there that offer enriching experiences, whether that be through flavor, aroma, or natural beauty in the landscape.</p>
              <p>Creating and sharing nutrient-dense, neo-traditional, and (usually) delicious meals with friends, family, and my community is a deep passion of mine.  I love to explore and experience rich flavors and aromas, whether that’s coming from home-cooked feasts or a decadent craft beer or cocktail. Much aligned with my musical tastes, I love to cook with complex and aggressive flavor profiles from all corners of the globe. My favorite culinary exploits, though, use plants that are indigenous to our area, species that have coevolved with local humans for millennia. These oft-overlooked species are treasures: culturally, culinarily, and ecologically.</p>
              <p>I am ten years into a career as a professional restoration ecologist: designing, implementing, and maintaining native plant communities throughout the DC-area. While managing these medium- and large-scale restoration projects is deeply fulfilling, it still leaves an itch unscratched...hence the genesis of Nightshade. Over these past five years, studying and incorporating permaculture, organic fruit & vegetable gardening, and plant/mushroom foraging into my life has been a richly rewarding and transformational experience. Our Nightshade projects provide me a creative outlet to merge my passions for eco-friendly, problem-solving, and aesthetically-pleasing designs with the production of healthful and delicious organic fruits, veggies, & herbs. My wife (Rossi) and I have an increasingly productive suburban homestead & wildlife habitat here in Northern Virginia, where we love hosting friends and community events.</p>
              <p>I don’t care for politics, but I do strongly believe that supporting local, values-based businesses is the only solution to shifting our globalized, profit-driven economy into something that truly supports both our planet and our people. For me, a worthy cause is sticking it to The Man and overhauling how we (humanity) both feed ourselves and steward our urban/suburban ecospheres...with no compromises on deliciousness! In essence, I’m a huge nerd and animal/plant lover, and I strive to walk the walk when it comes to compassionate, healthy, and sustainable living \m/</p>
            </div>
            <hr />
          </div>
        <!--div class="col-sm-12">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/rossi_2_300_400.jpg" />
              <h3>Rossi</h3>
              <p>I joined Nightshade Culinary Landscapes in 2019, and share the same passion that unites our team… creating and enjoying amazing food & drink with homegrown ingredients. I have a crush on arugula and bees, and my husband and I are hosting our first 160,000 bees in two colonies this year on our suburban homestead.</p>
              <p>I work full-time in ecosystem conservation and am also passionate about improving our society’s food security. My husband and I are advancing these causes by transforming our suburban yard into an oasis of edible and ecologically beneficial plants. We use our sustainable ingredients to create wonderful dishes with tastes that would make your heart smile, accompanied with an awesome herbal cocktail that pairs perfectly in a flavor symposium... (yes.. I love poetry and adding a dash of drama – I’m a romantic Latina!). We then engage the community by hosting unique & sustainable food & drink events featuring these ingredients.</p>
              <p>In addition to hosting these food & drink events, I also capture aromas and tastes in homemade culinary products, inspired by ancestral knowledge from different cultures and our native plant species. I also create products based on herbalism principles (e.g. teas, fire ciders, tinctures, and more).</p>
            </div>
          </div>
        </div-->
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
