<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box">
              <img class="left-image backstory-image" src="./images/group_pic.jpg" />
              <h3>The Backstory</h3>
              <p>Yo! We’re Bort and Caleb, founders of Nightshade. Early on this path, we were both simply concerned about improving our access to fresh herbs… so we started growing our own. Immediately, we noticed the bump in flavor and freshness, not to mention the convenience of walking out our back door rather than running out to the store.</p>
              <p>We produced less waste, created habitat for pollinators, and found fulfillment in watching our plants flourish. We found a creative outlet in selecting plants that complemented our favorite cooking styles and cocktail recipes. We started to get a little crazier and now grow bizarre, beautiful, and delicious herbs, fruit, flowers, and veggies from around the world. It evokes an honest sense of pride and fulfillment to snip off a couple sprigs from you own lemon thyme plant and use that astounding aroma and flavor to bring out the highest potential in your own inspired culinary creation. We’re hardcode home cooks, cocktail enthusiasts, DC natives, and big fans of living the Good Life…join us on this journey!</p>
            </div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/bort-balcony.jpg" />
              <h3>Bort</h3>
              <p>It started as most great adventures do -- with a stiff drink. I believe it was a “South Side,” a classic libation made with gin and fresh mint. You see, when I set out to refine my cocktail crafting skills, I quickly realized two things. First, drinks made with fresh herbs are amazing. Second, it’s expensive and wasteful to buy those herbs at the store. The solution was obvious, and what started as a few plants on a window sill has grown into a full fledged passion project. I now maintain my own sprawling balcony oasis, which I keep stocked with as many tasty herbs and beautiful vine flowers as possible.</p>
              <p>I love building things and sharing my interests with others. Be it a piece of software or a crazy-cool plant installation, I find immense joy in taking a concept and shaping it into reality. I believe life is short, and it should be spent eating the best food, drinking the best drinks, and generally enjoying the best that this green earth has to offer.</p>
            </div>
            <hr class="mobile-only"/>
          </div>
          <div class="col-md-6">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/caleb_2.jpg" />
              <h3>Caleb</h3>
              <p>Creating and sharing nutrient-dense, neo-traditional, and (usually) delicious meals with friends, family, and my community is a deep passion of mine. Much aligned with my musical tastes, I love to cook with complex and aggressive flavor profiles from all corners of the globe. I assert that every dish should include a healthy pinch of cayenne, love, and perhaps a few dashes of homemade hot sauce. I love to explore and experience rich flavors and aromas, whether that’s coming from home-cooked feasts or a decadent craft beer or cocktail.</p>
              <p>Studying and incorporating regenerative agriculture and organic gardening into my life has been richly rewarding and I don’t see myself turning back. As a professional ecologist and arborist, I also dabble in edible/medicinal plant and mushroom foraging. I don’t care for politics, but I do strongly believe that supporting local, values-based businesses is the only solution to shifting our globalized, profit-driven economy into something that truly supports both our planet and our people. And that change must happen from the ground up, with like-minded folks taking action (i.e. voting with you wallet) to support whatever causes resonate with you. For me, that cause is sticking it to The Man and overhauling how we (i.e. humanity) feed ourselves...with no compromises on deliciousness! Essentially, I’m a huge nerd and animal lover, and I strive to walk the walk when it comes to compassionate, healthy, and sustainable living \m/</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
