<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box">
              <img class="left-image backstory-image" src="./images/group_pic.jpg" />
              <h3>The Backstory</h3>
              <p>Yo! We’re Bort and Caleb...and we’re excited that you’re checking us out. At one point along this path, we were both simply concerned about getting easier access to fresh herbs to cook with. So we grew our own. Immediately, we noticed the bump in flavor and freshness. We also began to realize that growing your own herbs also has other perks: convenience, less waste, and saving some serious dough at the grocery store (especially if you already opt for organic).</p>
              <p>We found fulfillment in tending to our plants and watching them flourish. We even started to get a little crazy and grew some bizarre, beautiful, and delicious fruit and veggies from around the world. We found a creative outlet in selecting plants that complemented our favorite cooking styles and cocktail recipes. It evokes a honest sense of pride and badassery when you walk out your back door, snip off a couple sprigs of lemon thyme, and use that astounding aroma and flavor to bring out the highest potential in your own inspired culinary creation. We’re hardcode home cooks, cocktail enthusiasts, DC denizens, and big fans of living the Good Life…join us on that journey!</p>
            </div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/bort-balcony.jpg" />
              <h3>Bort</h3>
              <p>It started as most great adventures do -- with a stiff drink. I believe it was a “South Side,” a classic libation made with gin and fresh mint. You see, when I set out to refine my cocktail crafting skills, I quickly realized two things. First, drinks made with fresh herbs are amazing. Second, it’s expensive and wasteful to buy those herbs at the store. The solution was obvious, and what started as a few plants on a window sill has grown into a full fledged passion project. I now maintain my own sprawling balcony oasis, which I keep stocked with as many tasty herbs and beautiful vine flowers as possible.</p>
              <p>I love building things and sharing my interests with others. Be it a piece of software or a crazy-cool plant installation, I find immense joy in taking a concept and shaping it into reality. I believe life is short, and it should be spent eating the best food, drinking the best drinks, and generally enjoying the best that this green earth has to offer.</p>
            </div>
            <hr class="mobile-only"/>
          </div>
          <div class="col-md-6">
            <div class="content-box">
              <img class="left-image personal-image" src="./images/chiles.jpg" />
              <h3>Caleb</h3>
              <p>Cider vinegar. Molasses. Ceylon cinnamon. Ancho chiles. Mexican oregano. Flat-leaf parsley. More flat-leaf parsley. Okay, just a little more parsley… Perfect! Creating and sharing healthy and (usually) delicious food is a deep passion of mine. I love to explore and experience rich flavors and aromas, whether that’s coming from home-cooked meals, craft beer, or cocktails. As is the case for cooking and mixology, I believe that balance is one of the keys to a fulfilling life.</p>
              <p>Much aligned with my musical tastes, I love to cook with complex and aggressive flavors from every corner of the globe. I assert that every dish should include a healthy pinch of cayenne… or two… preferably homegrown ;). I’m grateful to find myself tromping around wetlands and forests (and the occasional cubicle) as my day job. I’m a huge nature nerd and animal lover, and I strive to walk the walk when it comes to sustainable and healthy living \m/</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
