<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="content-box highlight-box-alt dark-links">
              <h3>Let's Go!</h3>
              <p>Ready to book with us? Let's start a conversation! Send us an e-mail over at <a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a>, give us a <a href="/contact">call</a>, shoot us a <a href="/contact">text</a>, or send out a <a href="https://flypigeon.co/" target="_blank">carrier pigeon</a>.</p>
              <p>Not sure? Check out our <a class="strong" href="./services">services</a>, and see if Nightshade’s <a class="strong" href="/values">values</a> and <a class="strong" href="/mainfesto">mission</a> resonate with you. And reach out!</p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="content-box">
              <img src="./images/heart_200_208.jpg" class="contact-image mobile-hidden" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <h4>What does becoming a Nightshade client look like?</h4>
              <!--img src="./images/heart_200_208.jpg" class="right-image contact-image mobile-only" /-->
              <p>
                <ul>
                  <li>We’ll schedule an in-person consultation to check out your outdoor space, take measurements, learn about your culinary goals, and start brainstorming! You'll walk away with a better understanding of your space and the potential garden that can be unlocked with a bit of knowhow and elbow grease. Please note we charge $150 for the initial consultation, but that fee is fully discounted from your next installation. Tasty seasonal snacks and/or beverages provided, compliments of Nightshade!</li>
                  <li>Work with Nightshade on finalizing a design that works for your tastebuds, your lifestyle, your budget, and your specific outdoor space. We’re happy to update our initial design ideas with you until you’re completely satisfied and ready to move forward with the project. We’ll also chat about your options for routine maintenance.</li>
                  <li>Git ‘r dun! But with markedly more professionalism. Depending on the scope & scale of your project, we’ll install your project in one (or two) fell swoops. We’ll also provide a quick tutorial, giving you the crash course on how to care for and harvest from your customized culinary landscape.</li>
                  <li>Regardless of what maintenance route you opt for, Nightshade will provide on-going support for your project. Whether that be through monthly routine fertilizing, weeding, and mulching, or simply responding to a quick question you’ve got about your landscape, we’ll make ourselves available to ensure you’re fully satisfied.</li>
                  <li>Ready to get started? <a href="mailto:info@nightshadedc.com">Shoot us an email now!</a> While supplies last!!
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
