<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="content-box highlight-box dark-links">
              <h3>Contact Us</h3>
              <table>
                <tr class="contact">
                  <td><span class="contact-type">email</span></td>
                  <td><span class="contact-details"><a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">phone</span></td>
                  <td><span class="contact-details">240-678-2096</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">instagram</span></td>
                  <td><span class="contact-details"><a href="https://www.instagram.com/nightshadedc/">nightshadedc</a></span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <img src="./images/heart_200_208.jpg" class="right-image contact-image" />
              <h4>What does becoming a Nightshade client look like?</h4>
              <p>
                <ul>
                  <li>If you’re interested our <a class="strong" href="./services.html">services</a>, and if Nightshade’s <a class="strong" href="/values">values</a> and <a class="strong" href="/mainfesto">mission</a> resonate with you, do us all a favor and reach out! Send us an e-mail, give us a call, shoot us a text, or send out a carrier pigeon.</li>
                  <li>We’ll schedule an in-person consultation to check out your outdoor space, take measurements, learn about your culinary goals, and start brainstorming! Light refreshments provided! Please note we charge $100 for the initial consultation, but that fee is fully discounted from your next installation.</li>
                  <li>Work with Nightshade on finalizing a design that works for your tastebuds, your lifestyle, your budget, and your specific outdoor space. We’re happy to update our initial design ideas with you until you’re completely satisfied and ready to move forward with the project. We’ll also chat about your options for routine maintenance.</li>
                  <li>Git ‘r dun! But with markedly more professionalism. Depending on the scope & scale of your project, we’ll install your project in one (or two) fell swoops. We’ll also provide a quick tutorial, giving you the crash course on how to care for and harvest from your customized culinary landscape.</li>
                  <li>Regardless of what maintenance route you opt for, Nightshade will provide on-going support for your project. Whether that be through monthly routine fertilizing, weeding, and mulching, or simply responding to a quick question you’ve got about your landscape, we’ll make ourselves available to ensure you’re fully satisfied.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="content-box highlight-box" id="nl-signup">
          <h3>Stay in the loop</h3>
          <p>For info on upcoming events and to join the attendee list for our Feasts, sign up for the <b>Nightshade Newsletter<b></p>
          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mce-responses{margin: 0px !important; font-size: 14px;}

            .mc-field-group{padding-bottom: 0px !important;}

            #mc_embed_signup .clear {padding-top: 3%;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="https://nightshadedc.us4.list-manage.com/subscribe/post?u=91d8d90938a7c93dd4b94eb85&amp;id=b80a66477d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
          <div class="mc-field-group">
            <label for="mce-EMAIL"><h4>Email Address  <span class="asterisk">*</h4></span>
          </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_91d8d90938a7c93dd4b94eb85_b80a66477d" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
            <div class="content-box">
              <img src="./images/cocktails_trimmed_400_400.jpg" class="contact-image-2"/>
            </div>
          </div>
        </div> -->
        <div class="splash">
          <div class="contact-splash-image"></div>
        </div>
          <!-- <div class="col-md-4">
            <div class="content-box">
              <h3>Survey</h3>
              <p>Or we can skip the formalities and get right to the good stuff. We've got a brief survey that lets us get to know you and figure out how we can help. And by brief, we mean literally 2-3 minutes. No bullshit! Start the timer!</p>
              <a href="http://survey.a-bort.com/index" target="_blank" class="btn btn-action">Take the Survey!</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
