<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="content-box highlight-box">
              <h3>Contact Us</h3>
              <table>
                <tr class="contact">
                  <td><span class="contact-type">email</span></td>
                  <td><span class="contact-details"><a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">phone</span></td>
                  <td><span class="contact-details">240-678-2096</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">instagram</span></td>
                  <td><span class="contact-details"><a href="https://www.instagram.com/nightshadelandscapes/">nightshadelandscapes</a></span></td>
                </tr>
              </table>
            </div>
            <div class="content-box">
              <h3>Clients</h3>
              <p>Interested in working with us to create a fulfilling -- and filling -- landscape?</p>
              <p>If you’re interested our <a href="./services.html">services</a>, and if Nightshade’s <a href="./values.html">values and mission</a> resonate with you, do us all a favor and reach out! We’re excited to learn more about you and your outdoor space, and to help tailor you a well-fitted and rewarding landscape. Send us an <a href="mailto:info@nightshadedc.com">e-mail</a>, give us a <a href="">call</a>, whatever floats your boat.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-box">
              <h3>Survey</h3>
              <p>Or we can skip the formalities and get right to the good stuff. We've got a brief survey that lets us get to know you and figure out how we can help. And by brief, we mean literally 2-3 minutes. No bullshit! Start the timer!</p>
              <a href="http://survey.a-bort.com/index" target="_blank" class="btn btn-action">Take the Survey!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
