<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="about-row">
              <h3>Contact Us</h3>
              <div class="contact">
                <span class="contact-type">email</span>&nbsp;|&nbsp;
                <span class="contact-details"><a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a></span>
              </div>
              <div class="contact">
                <span class="contact-type">phone</span>&nbsp;|&nbsp;
                <span class="contact-details">301-768-2317</a></span>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="about-row">
              <h3>Clients</h3>
              <p>Interested in working with us to create a fulfilling landscape? Because we're really excited about working with you. Hope that's not creepy or anything...</p>
              <p>But seriously, if you’re interested our <a href="./services.html">services</a>, and if Nightshade’s <a href="./values.html">values and mission</a> resonate with you, do us all a favor and reach out! We’re excited to learn more about you and your outdoor space, and to help tailor you a well-fitted and rewarding landscape. Send us an <a href="mailto:info@nightshadedc.com">e-mail</a>!</p>
            </div>
            <div class="about-row">
              <p>Or we can skip the formalities and get right to the good stuff. We've designed a brief survey for prospective clients. And by brief, we mean literally 2-3 minutes long! Literally! Start the timer!</p>
              <a href="http://survey.a-bort.com/index" target="_blank" class="btn btn-action">Take the Survey!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
