<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <img src="./images/heart_200_208.jpg" class="right-image contact-image" />
              <h4>What does becoming a Nightshade client look like?</h4>
              <p>
                <ul>
                  <li>If you’re interested our <a href="./services.html">services</a>, and if Nightshade’s <a href="/values">values</a> and <a href="/mainfesto">mission</a> resonate with you, do us all a favor and reach out! Send us an e-mail, give us a call, shoot us a text, or send out a carrier pigeon.</li>
                  <li>We’ll schedule an in-person consultation to check out your outdoor space, take measurements, learn about your culinary goals, and start brainstorming! Light refreshments provided! Please note we charge $50 for the initial consultation, but that fee is fully discounted from your next installation.</li>
                  <li>Work with Nightshade on finalizing a design that works for your tastebuds, your lifestyle, your budget, and your specific outdoor space. We’re happy to update our initial design ideas with you until you’re completely satisfied and ready to move forward with the project. We’ll also chat about your options for routine maintenance.</li>
                  <li>Git ‘r dun! But with markedly more professionalism. Depending on the scope & scale of your project, we’ll install your project in one (or two) fell swoops. We’ll also provide a quick tutorial, giving you the crash course on how to care for and harvest from your customized culinary landscape.</li>
                  <li>Regardless of what maintenance route you opt for, Nightshade will provide on-going support for your project. Whether that be through monthly routine fertilizing, weeding, and mulching, or simply responding to a quick question you’ve got about your landscape, we’ll make ourselves available to ensure you’re fully satisfied.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="content-box highlight-box dark-links">
              <h3>Contact Us</h3>
              <table>
                <tr class="contact">
                  <td><span class="contact-type">email</span></td>
                  <td><span class="contact-details"><a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">phone</span></td>
                  <td><span class="contact-details">240-678-2096</a></span></td>
                </tr>
                <tr class="contact">
                  <td><span class="contact-type">instagram</span></td>
                  <td><span class="contact-details"><a href="https://www.instagram.com/nightshadedc/">nightshadedc</a></span></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="content-box">
              <img src="./images/cocktails_trimmed_400_400.jpg" class="contact-image-2"/>
            </div>
          </div>
        </div>
          <!-- <div class="col-md-4">
            <div class="content-box">
              <h3>Survey</h3>
              <p>Or we can skip the formalities and get right to the good stuff. We've got a brief survey that lets us get to know you and figure out how we can help. And by brief, we mean literally 2-3 minutes. No bullshit! Start the timer!</p>
              <a href="http://survey.a-bort.com/index" target="_blank" class="btn btn-action">Take the Survey!</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
