<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <% for(var i = 0; i < gallery.length; i+=2){%>
          <div class="row">
              <% for(var j=0; j < 2; j++){%>
                <% if(i+j < gallery.length){%>
                <div class="col-sm-6">
                  <div class="content-box">
                    <img class="gallery-image" src="/images/<%=gallery[i+j].image%>" alt="<%= gallery[i+j].name %>" />
                  </div>
                </div>
                <% } %>
              <% } %>
            </div>
        <%}%>
        <div class="row hidden">
          <div class="col-lg-12">
            <div class="content-box">
              <h4>More Coming Soon...</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
