<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <h2>Gardens & Edible Landscapes</h2>
              <p><img src="./images/s_e_planter_250_188.jpg" class="left-image"/>If you have an outdoor space that needs some love -- be it a yard, balcony, rooftop, or an overgrown briar patch draped in popped birthday balloons and broken dreams -- we want to help you transform it into something more beautiful and productive.</p>
              <p>We offer custom landscape design, installation, and maintenance services as a turnkey solution that brings exceptional ingredients to your finger’s reach. As your garden guides, we bring nearly a decade of garden-to-table experience and knowledge from our own successful home-growing & home-cooking exploits. Rely on us as your technical experts to make your cooking dreams become a reality.</p>
              <p>We work closely with our clients to create a garden that meets their goals (culinary and otherwise) using nerdy yet attractive garden designs that will truly enrich your life.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="content-box">
              <h2>Who our clients are</h2>
              <p><img src="./images/produce_200_150.jpg" class="right-image"/>Not everyone will be a good fit as our client, and we’re cool with that. If you don’t cook or already have a bountiful garden, we honestly won’t be right for you. If you love having the highest quality ingredients while you cook, or if you want to make a positive impact on this planet’s ecosystems, we’re off to a good start! You don’t need to be a seasoned gardener or landscape designer though, that’s where we can help.</p>
              <p>As a Nightshade client, you’ll become a plant-growing badass with the help of our hands-on training sessions, and most importantly, you’ll get the multitude of benefits that come alongside an attractive and practical outdoor space that enhances your culinary prowess.</p>
              <p>Our mission is to find and create mutually beneficial relationships with folks who have a shared passion for quality food/drink, and an appreciation and sense of responsibility for the future of our planet.  Once we find clients that are a good match for Nightshade, we work our butts off to deliver a high quality garden and provide you with on-going support. If you’re interested in learning more about becoming a client, check out our <a href="./contact">CONTACT US</a> page.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="content-box">
              <h2>Help us help you help us help you</h2>
              <p><img src="./images/jars_250_188.jpg" class="left-image"/>So, your garden is proving to be wildly bountiful, and you’ve got more herbs and produce than you know what to do with? No sweat! We’ll also process any excess goodies from your garden and provide it back to you in ready-to-use and easy-to-store containers.</p>
              <p>This approach allows you to have home-grown ingredients at half the price, double the quality, and a sliver of the petro-chemical footprint when compared to typical store-bought ingredients. Lessen your reliance on unsustainable practices!</p>
              <p>If you’re gung-ho about DIY and kitchen projects, more power to you! We’re happy to recommend or conveniently provide you with your own processing & storage supplies.</p>
              <p>We even create speciality products you won’t be able to get anywhere else (see our <a href="/products">PRODUCTS</a> page).</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
