<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="splash">
      <div class="gardens-splash-image">
        <div class="gardens-splash-image-overlay">
          <div class="splash-image-text">
            <p class="large-p-text">
              <h2>Why Our Projects Kick Ass</h2>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="container">
        <!-- <div class="row">
          <div class="content-box">

          <div>
        </div> -->
        <div class="row">
          <div class="col-md-6">
            <div class="content-box">
              <p class="large-p-text"><b>We provide custom native and edible garden solutions to meet your specific space and needs.</b> We work with you directly - no third parties, and no cookie-cutter bullsh*t.</p>
            </div>
            <div class="content-box highlight-box-alt">
              <h4>Consultation</h4>
              <p><ul><li>We take an hour or more to walk through your space, talk to you, and understand your needs. We charge $150 for the session, but if you proceed with an installation we credit that back towards the project.</li></ul></p>

              <h4>Solution Design</h4>
              <p><ul><li>We work with you to design a customized garden that will beautify your space and mesh with your lifestyle. Budget is set in advance, based on the size and complexity of the project.</li></ul></p>

              <h4>Installation</h4>
              <p><ul><li>We transform your garden’s solutions-inspired design into reality. Installation can happen all at once, or gradually over time, depending on the scope of project and your budget.</li></ul></p>

              <!--h4>More Plants, Please!</h4>
              <p><ul><li>Whether it’s replacing cool season veggies with warm season, or upgrading your garden with additional beds/plantings, we’re happy to provide mid-season consultations and installations.</li></ul></p-->

              <h4>Seasonal Maintenance</h4>
              <p><ul><li>Your garden will be a living system that’ll require occasional maintenance to maximize its productivity and keep it looking awesome, especially while it is getting established. We can provide that maintenance for a set rate over a season.</li></ul></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-box">
              <p><img src="./images/ow_before_after_200_287.JPG" class="right-image services-image"/>If you have an outdoor space that needs some love -- be it a yard, balcony, rooftop, or that overgrown briar patch draped in popped birthday balloons and broken dreams -- we want to help you transform it into something more beautiful and enriching.</p>
              <p>Our projects work alongside nature, using nerdy yet attractive ecological designs that enrich life. You’ll become a plant-growing badass with the help of our hands-on training sessions, and most importantly, you’ll get the multitude of benefits that come alongside an attractive and practical outdoor space that enhances your local ecosystem and your culinary prowess.</p>
              <p><img src="./images/produce_200_150.jpg" class="left-image services-image"/>Not everyone will be a good fit as our client, and we’re cool with that. Our goal is to start and maintain mutually beneficial relationships with folks who have a shared passion for quality food/drink and an appreciation for our planet. You don’t need to be an seasoned gardener or landscape designer, that’s where we can help. Once we find clients that are a good match for Nightshade, we’ll work our asses off to deliver a high quality product/service and provide you with on-going support.</p>
            </div>
            <div class="content-box">
              <center>
                <a href="/book" class="btn btn-lg btn-action">Book us!</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
