<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box">
              <h3>Check out our Open Positions below!</h3>
              <p>
                If you are interested, please send us an email (<a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a>) with your resume, two references, a quick overview of your relevant experience, and why you feel you'd be a good fit for this position. Thank you!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="content-box highlight-box">
              <h3><u>Garden Installation Team Member</u>&nbsp;&#127793;</h3>
              <h4>Part-Time, Seasonal Position</h4>
              <p>Help us bring our native and edible garden designs into reality. Join our team in installing urban and suburban permaculture projects throughout DC and the surrounding area. This is a ground floor opportunity at a small but growing local business, with opportunities for growth and additional involvement in the business over time. </p>
              <hr/>
              <h4>Responsibilities:</h4>
              <ul>
                <li>Installing perennial native and edible plants</li>
                <li>Constructing raised beds and trellises</li>
                <li>Installing wall blocks, temporary fencing, and other simple hardscaping elements</li>
                <li>Mulching, edging, and vegetation removal</li>
                <li>Basic earthworking, including swales, ephemeral stream channels, and rain gardens</li>
              </ul>
              <br/>
              <h4>Qualifications:</h4>
              <ul>
                <li>1-3 years experience in gardening and/or woodworking</li>
                <li>Confident using basic hand and power tools</li>
                <li>Fast learner, attention to detail, strong problem-solving ability and communication skills</li>
                <li>Trustworthiness, integrity, strong work ethic</li>
                <li>Ability to commit to our team’s schedule (see details below)</li>
              </ul>
              <br/>
              <h4>Compensation & Perks:</h4>
              <ul>
                <li>$25 to $35 per hour, commensurate with experience</li>
                <li>Commuter benefits</li>
                <li>Lunch provided each 6-hour work day--we generally order food to the jobsite</li>
                <li>Your very own, very glamorous, and very free Nightshade T-shirt</li>
                <li>25% discount on all Nightshade Culinary Products!</li>
              </ul>
              <br/>
              <h4>Work Location, Volume, & Frequency:</h4>
              <ul>
                <li>Our sites are primarily located within DC, with a few sites in the surrounding areas (close-in MD and Northern VA suburbs), usually within 30 minutes of downtown</li>
                <li>Our typical install days fall on weekdays or occasional weekends. Dates are typically scheduled 1-2 weeks in advance</li>
                <li>Roughly 4-7 hours of site time per field day (including a lunch break), between 9am and 3:30pm</li>
                <li>Our installs are generally in Fall (September thru December) and Spring (March thru May)</li>
                <li>Currently, we expect 8-9 days in the field this Fall/Winter and another 10-12 days in the field in Spring 2026</li>
                <li>We are willing to work with your schedule to set install dates a few weeks in advance. We expect that you will generally be available for one install per week on average in Fall and Spring</li>
              </ul>
              <hr/>
              <p>
                If you are interested, please send us an email (<a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a>) with your resume, two references, a quick overview of your relevant experience, and why you feel you'd be a good fit for this position.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
