<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row push-sm">
          <div class="col-sm-12">
            <center><h2>Inspired Landscapes for Inspired Home Cooks</h2></center>
          </div>
        </div>
        <div class="row push-md">
          <div class="col-sm-12">
            <div class="ig-scroller">
              <iframe src="//lightwidget.com/widgets/396a0ec5aaa358f09239bde7985ee2b9.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>
            <div style="margin-top: 5px" >
              <a href="https://www.instagram.com/nightshadelandscapes/"><img src="./images/igl_glyph.png" style="width: 24px; height: 24px; margin-bottom: 0px;" /> nightshadelandscapes</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7 push-sm">
            <p class="large-p-text"><b>Nightshade Culinary Landscapes</b> offers small scale, unique landscaping solutions for passionate home cooks and cocktail enthusiasts living the greater DC area.</p>
          </div>
          <div class="col-sm-5">
            <center><a type="button" class="btn btn-action btn-lg" href="services">Let’s see if we’re a good fit!</a></center>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
