<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
              <img id="jumbotron-image" src="./images/passiflora.jpg"/>
          </div>
          <div class="col-sm-4">
            <center>
              <h2>Inspired Landscapes for Inspired Home Cooks</h2>
            </center>
            <p>Do you like food that tastes good? And is crazy-fresh? And is responsibly sourced? Do you enjoy outdoor spaces that don't look like crap, and actually put you in a good mood? Do you want to save some money, reduce your waste, and generally make the world a better place? Yes?? Perfect, we never would have guessed!</p>
            <div>
              <a target="_blank" href="services.html">How can we help you?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
