<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {lightwidget: true}) %>
  <body>
    <% include partials/header %>
    <!--div class="headline">
      <center><h1>Tantalizing Taste Buds <span class="small">&</span> Advancing Agro-Ecology</h2></center>
    </div-->
    <div class="splash">
      <div class="splash-image">
        <!--div class="splash-image-overlay">
          <div class="splash-image-text">
            <p class="large-p-text center-text">
                <b>Our mission is simple:</b><br/>To provide exceptional flavor & create rewarding gardens<br/>for the DC-area community<br/>while fostering ecological awareness & responsibility.
            </p>
          </div>
        </div-->
      </div>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-6"><h4 class="center-text">Organic<br/>Gardening</h4></div>
              <div class="col-xs-6"><h4 class="center-text">Edible<br/>Landscapes</h4></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-6"><h4 class="center-text">Homecooking &<br/>Mixology</h4></div>
              <div class="col-xs-6"><h4 class="center-text">Ecological<br/>Stewardship</h4></div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-7 push-sm">
            <p>Do you like food that actually tastes good? And is crazy fresh? And is responsibly sourced? Do you enjoy outdoor spaces that don't look like crap? Do you want to reduce your carbon footprint? And generally make the world a better place? Yes?? Perfect, we never would have guessed!!</p>
          </div>
          <div class="col-sm-5">
            <center><a type="button" class="btn btn-action btn-lg" href="/gardens">Let’s see if we’re a good fit!</a></center>
          </div>
        </div>
        <!--div class="col-sm-12">
          <div class="ig-scroller">
            <iframe src="https://cdn.lightwidget.com/widgets/99622ed9a71b50dc98880afeb85fafa2.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
          </div>
          <div style="margin-top: 5px" >
            <a href="https://www.instagram.com/nightshadedc/"><img src="./images/igl_glyph.png" style="width: 16px; height: 16px; margin-bottom: 0px; margin-right: 5px" />nightshadedc</a>
          </div>
        </div-->
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
