<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
              <img id="jumbotron-image" src="./images/passiflora.jpg"/>
          </div>
          <div class="col-sm-4">
            <center>
              <h2>Inspired Solutions for the Innovative Homecook</h2>
            </center>
            <p>Do you like food that tastes good? Do you enjoy spending time in outdoor spaces that don't look like crap? Do you think that paying for stuff you can make yourself is stupid? In other words, are you a rational human being? Yes?? Perfect! </p>
            <div>
              <a target="_blank" href="http://survey.a-bort.com/index">How can we help you?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
