<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row about-row about-padded">
          <p><span class="revolt">F</span>or over 10,000 years, humans have been growing their own food. Before that, our hominid ancestors foraged and harvested their entire food supply directly from nature. Over the past few decades, however, mankind has lost this intrinsic connection with our planet.</p>
        </div>
        <div class="row about-row about-padded">
          <p><span class="revolt">T</span>hese days, most of society’s sustenance comes wrapped in plastic, is shipped from hundreds (if not thousands) of miles away, and is often processed beyond recognition. The Industrial Revolution’s solution to producing food for an ever-increasing human population has been the establishment of high volume, low-quality industrial farms and manufacturers. </p>
          <p>Fortunately, Big Agriculture finds themselves fighting an uphill battle. Their practices are unsustainable for the environment. Their produce is devoid of nutrition and flavor. They rely on taxpayers like you to heavily subsidize their poorly designed industry. They lean on corporate lobbyists to uphold their profit-driven and destructive food regulations.</p>
        </div>
        <div class="row about-row about-padded">
          <p><span class="revolt">T</span>here’s another piece to this puzzle. Over the past fifty years, our consumer society has become increasingly obsessed with maintaining wasteful lawns and yards that encourage the rampant use of fossil fuels, pesticides, and chemical fertilizers. These unnatural and often poorly designed landscapes provide little ecological or utilitarian value, and are--to put it kindly--a terribly misaligned use of society’s resources.</p>
          <p>And at what cost? The Big Business approaches to landscaping and meeting society’s food demands have set us on a path towards increasingly fragile ecosystems, more reliance on fossil fuels, higher healthcare costs, and just as bad...boring and flavorless food!</p>
        </div>
        <div class="row about-row about-padded">
          <p><span class="revolt">L</span>uckily, delicious, nutritious, food and sustainability are not mutually exclusive. On the contrary, we’ve found that a landscape infused with a combination of fantastic flavors and aromas, jaw-dropping beauty, nutritional density, and ecological consciousness creates something very special...something we in the business like to call “really fucking awesome”.</p>
          <p>We can work with nature instead of against it. Advances in regenerative agriculture make it easier than ever to create and maintain a bountiful landscape that provides its stewards with flavorful, gorgeous, and nutritious produce. A grassroots overhaul of our food system is rapidly building momentum and we have the option to walk a more mindful path. We find ourselves lucky to be in such a progressive city, and couldn’t think of a better place to upset the status quo and begin creating a better planet, one inspired dish at a time.</p>
        </div>
        <div class="row about-row about-padded">
          <p><span class="revolt">O</span>ur projects promote biodiversity and ecological resilience by introducing a wide variety of culinary plant species into the landscapes of passionate, like-minded homecooks. We look to different cuisines from across the world for inspirational and innovative ingredients, that will propel your dishes to the next level. This cross-cultural pollination of ideas and plants leads to more open-mindedness and allows us cooks and mixologists to unlock an entirely new world of exotic flavors and aromas to explore.</p>
          <p>Our goal is to reconnect home cooks with nature so we can all benefit from the synergistic relationship humanity has traditionally held with this planet. Imagine this city transformed, where our citizens are surrounded by abundance; fresh fruit, veggies, and herbs; gorgeous flowers, foliage, and wildlife; a deep sense of serenity, inspiration, and wonderment.</p>
        </div>
        <div class="row about-row about-padded">
          <p><span class="revolt">W</span>e have a vision of a rich and regenerative future, and passionate culinary creators like you will play a critical role in making that future a reality. We can’t do this alone, so grab your chef’s knife, grab a watering can, and join us in this fight!</p>
          <p>Learn more about the <a href="values.html">core values</a> that uphold Nightshade Culinary Landscapes or <a href="services.html">click here</a> to learn more about our services.
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
