<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container parchment">
        <div class="row content-box about-padded">
          <p><span class="script-font">F</span>or over 10,000 years, humans have been growing their own food. Before that, our hominid ancestors foraged and harvested their entire food supply directly from nature. Over the past few decades, however, mankind has lost this intrinsic connection with our planet.</p>
          <p>These days, most of society’s sustenance comes wrapped in plastic, is shipped from hundreds (if not thousands) of miles away, and is often processed beyond recognition. The Industrial Revolution’s solution to producing food for an ever-increasing human population has been the establishment of high volume, low-quality industrial farms and food manufacturers.</p>
          <p>Big Agriculture’s practices are unsustainable for the environment. Their produce is devoid of nutrition and flavor. They rely on taxpayers like you to heavily subsidize their poorly designed industry. They lean on corporate lobbyists to uphold their profit-driven and destructive food regulations. Something’s gotta give.</p>
        </div>
        <div class="row content-box about-padded">
          <p><span class="script-font">C</span>ompounding the issue, our consumerist society has become increasingly obsessed with maintaining wasteful lawns and yards that encourage the rampant use of fossil fuels, pesticides, and chemical fertilizers. These unnatural and often poorly designed landscapes provide little ecological or utilitarian value, and are-- to put it kindly -- a terrible misuse of resources.</p>
          <p>And at what cost? The Big Business approaches to landscaping and meeting society’s food demands have set us on a path towards increasingly fragile ecosystems, more reliance on fossil fuels, higher healthcare costs, and just as bad...boring and flavorless food!</p>
        </div>
        <div class="row content-box about-padded">
          <p><span class="script-font">L</span>uckily, delicious, nutritious, and sustainable are not mutually exclusive when it comes to food. On the contrary, we’ve found that a landscape infused with a combination of fantastic flavors, jaw-dropping beauty, nutritional density, and ecological consciousness creates something very special...something we in the business like to call “really fucking awesome”.</p>
          <p>We can work with nature instead of against it. Rediscovery of lost knowledge and modern advances in regenerative agriculture make it possible to now create and maintain a bountiful landscape that provides its stewards with flavorful, gorgeous, and nutritious produce. Our projects are designed with permacultural principles and promote biodiversity and ecological  resilience. Our design approach incorporates collective wisdom, species diversity, and flavor profiles from across the globe which result in inspirational and innovative ingredients that will propel your dishes to the next level. This open-minded approach enables our clients to unlock an entirely new world of exotic flavors and aromas to discover and experiment with.</p>
        </div>
        <div class="row content-box about-padded">
          <p><span class="script-font">O</span>ur goal is to reconnect home cooks with nature so we can all benefit from the synergistic relationship humanity has traditionally held with this planet. Imagine this city transformed, where our citizens are surrounded by abundance: fresh fruit, veggies, and herbs; gorgeous flowers, foliage, and wildlife; a deep sense of serenity, inspiration, and wonderment. It’s starting to happen elsewhere, let’s make it happen here.</p>
          <p>We have a vision of a rich and regenerative future, and passionate culinary creators like you will play a critical role in making that future a reality. A grassroots overhaul of our food system is rapidly building momentum and we now have the option to walk a more mindful path. Let’s upset the status quo and begin creating a better planet: one inspired dish at a time.</p>
          <p>Learn more about the <a href="/values">core values</a> that uphold Nightshade Culinary Landscapes or <a href="/gardens">click here</a> to learn more about our services.
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
