<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="center">For Sale!</h2>
            <p class="small"><a class="strong" href="products">More Info on our Products</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <h1>Forest Forager Hot Sauces</h1>
              <img src="./images/hotsauce_400_193.jpg" class="right-image"/>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.</p>
              <p>Our three delectable blends are: <br/>
                <strong>The Forgotten Fruit</strong> - featuring paw paw (<i>Asimina triloba</i>) with ginger & lime<br/>
                <strong>Scurvy Slayer</strong> - featuring spicebush berry (<i>Lindera benzoin</i>) with oranges & dark rum<br/>
                <strong>Agent Orange</strong> - featuring ramps (<i>Allium tricollum</i>) with roasted carrot & cumin<br/>
              </p>
              <p>$15 per bottle, or $40 for the trifecta<br/>
                Fall/Winter 2021 Promotion: Buy the set, get 35% off your first jar of Elixir of Immortality!
                </p>
            </div>
            <hr/>
            <div class="content-box">
              <h1>Forest Forager Hot Sauces</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.</p>
              <p>Our three delectable blends are: <br/>
                <strong>The Forgotten Fruit</strong> - featuring paw paw (<i>Asimina triloba</i>) with ginger & lime<br/>
                <strong>Scurvy Slayer</strong> - featuring spicebush berry (<i>Lindera benzoin</i>) with oranges & dark rum<br/>
                <strong>Agent Orange</strong> - featuring ramps (<i>Allium tricollum</i>) with roasted carrot & cumin<br/>
              </p>
              <p>$15 per bottle, or $40 for the trifecta<br/>
                Fall/Winter 2021 Promotion: Buy the set, get 35% off your first jar of Elixir of Immortality!
                </p>
            </div>
            <div class="content-box">
              <h3><i>I'm ready to order!</i></h3>
              <p>E-mail us at <a href="mailto:caleb@nightshadedc.com">caleb@nightshadedc.com</a> with your request and we’ll let you know about availability. Because our products are seasonal, we can reserve your order for the next batch if we happen to be sold out of something..</p>
            </div>
          </div>
        </div>
<!--img src="./images/hotsauce_400_193.jpg" class="center-image"/-->
<!--img src="./images/lemon_thyme_400_193.jpg" class="center-image"/-->
        </div>
      </div>
  </body>
  <% include partials/footer %>
</html>
