<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="center">For Sale!</h2>
            <p class="small"><a class="strong" href="products">More Info on our Products</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <h1>Forest Forager Hot Sauces</h1>
              <img src="./images/hotsauce_400_193.jpg" class="right-image mobile-hidden"/>
              <p>Featuring homegrown, fiery chili peppers and key ingredients foraged in the wild from our local forests. All three of our unique blends highlight an indigenous edible forest plant. It’s reasonable to say these are the only hot sauces of their type on the planet. We brew fresh batches every Fall! And we honestly sell out every year...so reach out and reserve your bottles! These hot sauces make wonderful & unique gifts for your tree-hugger friend Juniper or your charmingly odd Uncle Remus who you spied slathering habanero-cranberry chutney all over his turkey last Thanksgiving.</p>
              <p>Our three delectable blends are: <br/>
                <ul>
                <li><strong>The Forgotten Fruit</strong> - featuring paw paw (<i>Asimina triloba</i>) with ginger & lime</li>
                <li><strong>Scurvy Slayer</strong> - featuring spicebush berry (<i>Lindera benzoin</i>) with oranges & dark rum</li>
                <li><strong>Agent Orange</strong> - featuring ramps (<i>Allium tricollum</i>) with roasted carrot & cumin</li>
                </ul>
              </p>
              <p><b>$15</b> per bottle, or <b>$40</b> for the trifecta<br/><br/>
                <b><i>Fall/Winter 2021 Promotion:</i></b> Buy the set, get 35% off your first jar of Elixir of Immortality!
                </p>
            </div>
            <hr/>
            <div class="content-box">
              <h1>Nightshade Elixirs</h1>
              <p>Concoctions we brew up in our kitchen, using garden-grown and/or foraged ingredients. These flavor-packed concentrates make next-level mixology accessible to anyone with a liquid measuring cup and the fine motor control skill of a 6-year old. Our elixirs make for a convenient yet impactful refreshment option when you want to snazz it up next time you’re hosting, or even  if you’re just looking for a healthy soda alternative for the kids. Feeling frisky? Elixirs also serve as a foundation for foolproof artisan cocktails.</p>
              <p>
                <ul>
                  <li><strong>Elixir of Immortality</strong> - this absurdly nutritious wonderberry (<i>Aronia melanocarpa</i>) juice with our special blend of homegrown herbal syrups is guaranteed to add at least five minutes to your lifespan</li>
                  <li><strong>Elixir of Rejuvenation</strong> - homegrown strawberries and elderberry (<i>Sambucus nigra</i>) are featuring in a sweet & tangy brew along balsamic and homegrown bay laurel & basil</li>
                  <li><strong>Elixir of Immolation</strong> - homegrown strawberries and foraged paw paw (<i>Asimina triloba</i>) are featured in a sweet & tangy brew along with lemon verbena, apple cider vinegar, and chili flakes</li>
                </ul>
              </p>
              <p><b>$15</b> for a medium jar (makes <b>3 to 5</b> decadent servings)<br/>
                 <b>$25</b> for a jumbo jar (makes a pitcher of <b>6 to 10</b> decadent servings)
                </p>
            </div>
            <hr/>
            <div class="content-box">
              <h1>Epic Bay Leaves</h1>
              <p>Another shamefully abused word: Epic. Yet, you will not find more aromatic nor more flavorful bay leaves anywhere in the DC area, period! One whiff will make you a believer. Don’t waste your money on those tiny jars of those stale excuses for <i>Laurel nobilis</i> you find at the store. Organically grown here on our regenerative suburban homestead and freshly dried, our bay leaves retain their exceptional flavor for many months. If you cook rice, soups, stews, or gumbos, these are a must have.</p>
              <p><b>$10</b> for a half year’s supply<br/>
                 <b>$20</b> for a full year’s supply
              </p>
            </div>
            <hr/>
            <div class="content-box">
              <h1>Pickled Ramps</h1>
              <p>Every home cook knows the culinary magic imbued in a well-crafted batch of pickled red onions. Now imagine if “pickled red onions” and “an enchanting hike through the forest in Spring” had a baby. What a beautiful baby that would be! Oh, and just FYI this baby craves garlic 24/7. And now at long last, you can get your hands on your very own jar of that baby… Okay, we might need a new metaphor. Bottom Line: Exceptionally unique and delicious wild vegetable condiment that compliments your savory dishes or charcuterie boards.</p>
              <p><b>$13</b> for a medium jar
              </p>
            </div>
            <hr/>
            <div class="content-box">
              <h3><i>I'm ready to order!</i></h3>
              <p>E-mail us at <a href="mailto:caleb@nightshadedc.com">caleb@nightshadedc.com</a> with your request and we’ll let you know about availability. Because our products are seasonal, we can reserve your order for the next batch if we happen to be sold out of something..</p>
            </div>
          </div>
        </div>
<!--img src="./images/hotsauce_400_193.jpg" class="center-image"/-->
<!--img src="./images/lemon_thyme_400_193.jpg" class="center-image"/-->
        </div>
      </div>
  </body>
  <% include partials/footer %>
</html>
