<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>What sets Nightshade’s products apart from the rest?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-push-8">
            <div class="content-box highlight-box">
              <h2 class="highlight">TRIGGER WARNING</h3> If you aren’t already familiar with our brand of humor showcased in our <a href="/contact#nl-signup">Nightshade Newsletters</a> and product labels: you’ve now officially been warned. Our comedic brilliance and unparalleled marketing acumen stem from our privileged upbringings and unrestricted access to provocative comedy TV & movies (think: South Park & Airplane!). Rest assured that while we love goofing around, our customer service and product quality are upheld with the utmost of seriousness. How serious? Imagine your dentist is standing over you and says: “I’m sorry, but we need to perform an emergency root canal immediately. On all 32 of your teeth. And we’re fresh out of novocaine.” Okay, well...maybe not THAT serious!
            </div>
          </div>
          <div class="col-md-8 col-md-pull-4">
            <div class="content-box">
              <h3>Uniqueness.</h3> We love words. Apparently most marketers don’t, though, because the word “Unique” has become a pale travesty of the actual definition: something that truly stands alone, without peer. Each and every Nightshade product is something you will simply not be able to find commercially available in the DC-area, even hipster-infested Farmer’s Markets.
            </div>
            <div class="content-box">
              <h3>Exceptional Quality.</h3> Hand-crafted by inspired home-cooks in small batches, using the highest quality produce. All staple ingredients are nutrient- and flavor-dense, having been grown in exceptional quality soil (note: this is how you tell if a food is truly nutritious [spoiler alert: most of the organic stuff at the grocery store isn’t!]). We’re firm believers that the quality of a product must speak for itself...not a gimmicky marketing campaign. In our humble opinion, the remarkable quality and flavors in all of our products basically sell themselves. And with each purchase, you’ll also get a piece of reusable glassware.
            </div>
            <div class="content-box">
              <h3>Supports Local Ecosystems & Economies.</h3> Believe it or not, the planet underneath your feet has the natural proclivity to produce delicious edible plants with novel and nuanced culinary applications. Our focus on promoting agro-ecology and utilizing indigenous plant species creates a win-win for people and our environment. And who doesn’t love buying a quality product from a local, family business? The alternative is an inexpensive, poorly made piece of crap produced in a factory for a profit-driven corporation, whose aim is to increase their shareholders’ returns by whatever means necessary (i.e. exploiting the working class and our planet’s natural resources). But hey, the choice is yours!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <center><a class="strong" href="./order">Okay, so what do you guys have for sale?</a></center>
          </div>
        </div>
          <!--img src="./images/hotsauce_400_193.jpg" class="center-image"/-->
          <!--img src="./images/lemon_thyme_400_193.jpg" class="center-image"/-->
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
