<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Unique Local Hot Sauces</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <ul>
                <li>All of our hot sauces feature foraged ingredients from our local forests. These sustainably harvested indigenous forest species including wild ginger, spicebush berry, and the infamous pawpaw.</li>
                <li>We’re firm believers that the quality of a product must speak for itself...not a gimmicky marketing campaign. In our humble opinion, the remarkable quality and flavors in all of our sauces basically sell themselves--come sample them at one of our <a href="/events">EVENTS!</a></li>
                <li>Organically grown peppers used in our sauces are sourced from our homestead as well as a collaborative effort in our local permaculture community of DC-area home gardeners. If you grow hot peppers, learn more about participation & perks <a href="/events#nl-signup">HERE</a>.</li>
                <li>Our production is currently still micro-batch size (and in compliance will all applicable homesteading regulations), with Demand heavily outweighting Supply. Click <a href="/events#nl-signup">HERE</a> to reserve your bottles to help ensure we’ll have enough for you. We create our seasonal sauces every September.</li>
              </ul>
            </div>
            <img src="./images/hotsauce_400_193.jpg" class="center-image"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Culinary Herbs & Teas</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <ul>
                <li>Get the highest quality ingredients to bring out the max potential in your dishes! We sell culinary herbs that are frankly way better than the over-priced “organic, artisan, yada yada yada” mediocre-quality herbs you’ll get at grocery stores . One smell of our bay leaves will make you a believer.</li>
                <li>Not only will the remarkable flavor and freshness blow your mind & taste buds, but you can also rest assured that you’re lessening your carbon footprint and supporting your local small businesses rather than Big Ag. What’s not to love?</li>
                <li>We produce homegrown culinary herbs & spice mixes, as well as customized tea blends featuring our homestead’s tasty & medicinal herbs that naturally support your health & well-being.</li>
                <li>Come light up your olfactory bulbs at one of our <a href="/events">EVENTS</a> and pick up some herbs!</li>
              </ul>
            </div>
          </div>
          <img src="./images/lemon_thyme_400_193.jpg" class="center-image"/>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
