<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>What sets Nightshade’s products apart from the rest?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-push-8">
            <div class="content-box highlight-box">
              <h2 class="highlight">TRIGGER WARNING</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.
            </div>
          </div>
          <div class="col-md-8 col-md-pull-4">
            <div class="content-box">
              <h3>Uniqueness</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.
            </div>
            <div class="content-box">
              <h3>Exceptional Quality</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.
            </div>
            <div class="content-box">
              <h3>Supports Local Ecosystems & Economies</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis suscipit felis at scelerisque. Etiam iaculis venenatis venenatis. Vivamus viverra ligula id egestas hendrerit. Etiam faucibus elementum consectetur. Aliquam dictum, ante nec mollis commodo, lorem mi accumsan enim, id auctor nisl turpis non quam. Quisque mollis congue mauris a vulputate. Aenean vel pulvinar erat, at vestibulum ante. Sed hendrerit congue quam, ut egestas massa bibendum vel. Suspendisse quis tellus blandit, ultricies eros in, dictum nisl.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <center><a href="./order">Okay, so what do you guys have for sale?</a></center>
          </div>
        </div>
<!--img src="./images/hotsauce_400_193.jpg" class="center-image"/-->
<!--img src="./images/lemon_thyme_400_193.jpg" class="center-image"/-->
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
