<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <div class="splash">
      <div class="gardens-splash-image">
        <div class="gardens-splash-image-overlay">
          <div class="splash-image-text">
            <p class="large-p-text">
              <h2>Our Projects Kick Ass</h2>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="content-box">
              <p><img src="./images/raised_bed_200_283.jpg" class="left-image services-image"/>If you have an outdoor space that needs some love -- be it a yard, balcony, rooftop, or that overgrown briar patch draped in popped birthday balloons and broken dreams -- we want to help you transform it into something more beautiful and enriching.</p>
              <p>Our projects work alongside nature, using nerdy yet attractive ecological designs that enrich life. You’ll become a plant-growing badass with the help of our hands-on training sessions, and most importantly, you’ll get the multitude of benefits that come alongside an attractive and practical outdoor space that enhances your culinary prowess.</p>
              <p><img src="./images/produce_200_150.jpg" class="right-image services-image"/>Not everyone will be a good fit as our client, and we’re cool with that. Our goal is to start and maintain mutually beneficial relationships with folks who have a shared passion for quality food/drink and an appreciation for our planet. You don’t need to be an seasoned gardener or landscape designer, that’s where we can help. Once we find clients that are a good match for Nightshade, we’ll work our asses off to deliver a high quality product/service and provide you with on-going support.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-box highlight-box-alt">
              <h3>Culinary Landscape Design</h3>
              <p><ul><li>We work with you to design a customized garden that will beautify your space, mesh with your lifestyle, and take your cooking and drink-making to the next level.</li></ul></p>

              <h3>Culinary Landscape Installation</h3>
              <p><ul><li>We transform your garden’s solutions-inspired design into reality, one delicious and/or beautiful plant at a time. Actually, a whole bunch of plants at once...</li></ul></p>

              <h3>More Plants, Please!</h3>
              <p><ul><li>Whether it’s replacing cool season veggies with warm season, or upgrading your garden with additional beds/plantings, we’re happy to provide mid-season consultations and installations.</li></ul></p>

              <h3>Seasonal Garden Maintenance</h3>
              <p><ul><li>Your edible landscape will be a living system that’ll require occasional maintenance to maximize its productivity and keep it looking awesome. If you’re not confident in doing it yourself, we’re happy to help! Sign up for a more cost-effective season-long maintenance package, or go a la carte.</li></ul></p>
            </div>
            <div class="content-box">
              <center>
                <a href="/book" class="btn btn-lg btn-action">Book us!</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
