<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="about-row">
              <h3>You want plants? We've got plants!</h3>
              <p>You want beauty all around you? We’ve got that too! If you have an outdoor space that needs some love -- be it a yard, balcony, rooftop, or that overgrown thicket where you’ve seen the rats hanging out  -- we want to help you transform it into something more beautiful and enriching.</p>
            </div>
            <div class="about-row">
              <p>We offer the following services:</p>
              <h4>Culinary landscape design</h4>
              <p>We work with you to design a customized landscape that will beautify your space and take your cooking and drink-making to the next level</p>
              <h4>Culinary landscape installation</h4>
              <p>We transform your flavor-inspired design into reality, one specialty plant at a time</p>
              <h4>Seasonal plantings</h4>
              <p>As the growing season progresses, we provide periodic consultations and plant a variety of seasonally appropriate herbs & veggies for you</p>
              <h4>Seasonal garden maintenance</h4>
              <p>Your edible landscape will be a living system that’ll requires occasional maintenance to maximize its productivity and keep it looking awesome. If you don’t want to do it yourself, we’re happy to help!</p>
              <h4>The Nightshade app</h4><small>Coming Soon!</small>
              <p>All of our customers will have access to our unique web application that will include timely gardening tips, innovative recipe suggestions based on what’s growing in your landscape, and customizable reminders. Mobile friendly!</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-row">
              <p><img src="./images/greens.jpg" class="left-image"/> Our projects work alongside nature, creating a more enriching and sustainable environment. In addition to becoming a plant-growing badass with the help of the Nightshade app and hands-on training sessions, you’ll get the benefits of an attractive and practical outdoor space that enhances your culinary prowess. We’ll work with you to customize a culinary landscape -- one that works for your tastebuds, your budget, and your specific outdoor space. We’ll also make life easy for you by:</p>
              <p>
                <ul>
                  <li>Helping select and install a personalized selection of herbs, veggies, and fruit</li>
                  <li>Consultations on seasonal produce, to help keep your garden and menu fresh throughout the year</li>
                  <li>Performing any seasonal garden maintenance you’d like and providing specific plant care tutorials</li>
                  <li>Providing 24/7 access to our proprietary culinary plant app that will empower you to keep your plants thriving and your meals and drinks fresher and tastier than you can imagine. <small>Coming Soon!</small></li>
                </ul>
              </p>
              <p>Interested in working with us? Reach out to us <a href="mailto:info@nightshadedc.com">directly</a>, or <a href="http://survey.a-bort.com/index" target="_blank">click here</a> to complete our prospective client survey and get started!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
