<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="about-row">
              <h3>You want plants? We've got plants!</h3>
              <p>If you have an urban outdoor space that needs some love--be it a yard, balcony, rooftop, or that overgrown thicket of weeds you’ve seen the rats hanging out in--we want to help you transform it into something more valuable and enriching.</p>
            </div>
            <div class="about-row">
              <h4>Culinary landscape design</h4>
              <p>We work with you to design and create a customized landscape that will take your cooking and drink-making to the next level</p>
              <h4>Planting events</h4>
              <p>We provide custom herb/veggie/fruit installations and hands-on training</p>
              <h4>Consultations</h4>
              <p>We offer expert advice on gardening, herbs, cooking, and cocktails</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="about-row">
              <p><img src="./images/greens.jpg" class="left-image"/> Our projects work alongside nature, creating a more enriching and sustainable urban environment. In addition to becoming a plant-growing badass, you’ll get the benefits of an attractive and practical outdoor space that enhances your culinary prowess. We’ll work with you to customize a culinary landscape--one that works for your tastebuds, your budget, and your specific outdoor space. We’ll also make life easy for you by:</p>
              <p>
                <ul>
                  <li>Helping select and install your choice of herbs, veggies, or fruit that works for your palate, your culinary goals, and your specific growing space</li>
                  <li>Providing 24/7 access to our custom plant care app that will empower you to keep your plants thriving and your meals and drinks fresher than ever</li>
                  <li>Keeping your menu fresh and innovative by coming out to you every Spring, Summer, and Fall to plant seasonal produce and provide specific plant care tutorials </li>
                  <li>Performing any seasonal garden maintenance for you</li>
                </ul>
              </p>
              <p>Interested in working with us? Reach out to us <a href="mailto:nightshadelandscapes@gmail.com">directly</a>, or <a href="http://survey.a-bort.com/index" target="_blank">click here</a> to complete our prospective client survey and get started!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
