<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="content-box">
              <p><img src="./images/heart.jpg" class="left-image services-image"/>If you have an outdoor space that needs some love -- be it a yard, balcony, rooftop, or that overgrown briar patch draped in popped birthday balloons and broken dreams -- we want to help you transform it into something more beautiful and enriching.</p>
              <p>Our projects work alongside nature, using nerdy yet attractive ecological designs that also provides you with a more enriching life. You’ll become a plant-growing badass with the help of our hands-on training sessions and the upcoming Nightshade app which will provide details on what’s growing your landscape, recipe ideas, and useful plant care tips. Most importantly, you’ll get the multitude of benefits that come alongside an attractive and practical outdoor space that enhances your culinary prowess.</p>
              <p>Not everyone will be a good fit as our client, and we’re cool with that. Our goal is to start and maintain mutually beneficial relationships with folks who have a shared passion for quality food/drink and an appreciation for our planet. You don’t need to be an seasoned gardener or landscape designer, that’s where we can help. Once we find clients that are a good match for Nightshade, we’ll work our asses off to deliver a high quality product/service and provide you with on-going support.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="content-box highlight-box">
              <h3>Culinary Landscape Design</h3>
              <p><ul><li>We work with you to design a customized landscape that will beautify your space and take your cooking and drink-making to the next level</li></ul></p>

              <h3>Culinary Landscape Installation</h3>
              <p><ul><li>We transform your flavor-inspired design into reality, one specialty plant at a time</li></ul></p>

              <h3>More Plants, Please!</h3>
              <p><ul><li>Whether it’s replacing cool season veggies with warm season, or upgrading your landscape with additional beds/plantings, we’re happy to provide mid-season consultations and installations.</li></ul></p>

              <h3>Seasonal garden maintenance</h3>
              <p><ul><li>Your edible landscape will be a living system that’ll requires occasional maintenance to maximize its productivity and keep it looking awesome. If you’re not confident in doing it yourself, we’re happy to help! Sign up for a more cost-effective season-long maintenance package, or go a la carte.</li></ul></p>
            </div>
            <div class="content-box">
              <center>
                <a href="/contact" class="btn btn-lg btn-action">Get in touch!</a>
              </center>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="content-box">
              <h4>What does becoming a Nightshade client look like?</h4>
              <p>
                <ul>
                  <li>Check out our online content and if you think we’d be a good fit… give us a buzz, or shoot us an email!</li>
                  <li>We’ll schedule an in-person consultation to check out your outdoor space, take measurements, learn about your culinary goals, and start brainstorming! Light refreshments provided! Please note we charge $50 for the initial consultation, but that fee is fully discounted from your next installation.</li>
                  <li>Work with Nightshade on finalizing a design that works for your tastebuds, your lifestyle, your budget, and your specific outdoor space. We’re happy to update our initial design ideas with you until you’re completely satisfied and ready to move forward with the project. We’ll also chat about your options for routine maintenance.</li>
                  <li>Git ‘r dun! But with markedly more professionalism. Depending on the scope & scale of your project, we’ll install your project in one (or two) fell swoops. We’ll also provide quick training session, giving you the crash course on how to care for and harvest from your customized culinary landscape.</li>
                  <li>Regardless of what maintenance route you opt for, Nightshade will provide on-going support for your project. Whether that be through monthly routine fertilizing, weeding, and mulching, or simply responding to a quick question you’ve got about your landscape, we’ll make ourselves available to ensure you’re fully satisfied.</li>
                </ul>
              </p>
              <p>Interested in working with us? Hop over to our <a href="/contact">Contact Us</a> page to started!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
