<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <center><h2>Our 2025 Spring Sweepstakes is Live!</h2></center>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <h4>Pop quiz!</h4>
            <div class="content-box highlight-box">
              <p>
                <b>Traditional Landscaping</b> minus <b>Hubris & Imperialism</b> plus <b>Indigenous Culture</b> plus <span class="inline-highlight" style="font-size:18px"><b>X</b></span> divided by <b>Two Hardcore Cooking Nerds</b> equals <b>Really F*cking Awesome Gardens</b>
              </p>
            </div>
            <h3>Solve for <span class="inline-highlight">X</span></h3>
            <div class="content-box highlight-box">
              <p>
                <b>Here's a hint:</b> What four related disciplines are also known by an acronym that could join this group?
              </p>
            </div>
            <div class="content-box">
              <p>Submit your answer to <a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a> and book a consultation to be entered into our 2025 Spring Sweepstakes, for a chance at <b>$500 off your Spring installation!</b></p>
            </div>
          </div>
          <div class="col-sm-7">
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <p class="mini-p-text">
              Contest Rules: Correct answers will be eligible for Grand Prize. Kinda/Sorta correct answers will be eligible for remaining prizes. Grand Prize (1): $500 credit towards a Spring 2025 garden installation; First Prize (1): Waived Consultation Fee + Agro-Ecology Goodie Bag + 3 Free Native Plants (plugs); Consolation Prizes (5): Agro-Ecology Goodie Bag. Entries must be received by February 15th at 10PM via email to <a href="mailto:info@nightshadedc.com">info@nightshadedc.com</a>. Drawing will occur on February 16th and winners will be immediately notified by email. “Winners” must claim their prize via email response within 24-hours, or your prize will be raffled off to the next lucky winner.
            </p>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
