<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>

    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <center><h2>Our 2025 Sweepstakes is Live!</h2></center>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h4>Pop quiz!</h4>
            <div class="content-box highlight-box">
              <p>
                <b>Traditional Landscaping</b> minus <b>Hubris & Imperialism</b> plus <b>Indigenous Culture</b> plus <b>X</b> divided by <b>Two Hardcore Cooking Nerds</b> equals <b>Really F*cking Awesome Gardens</b>
              </p>
            </div>
            <h3>Solve for X</h3>
            <div class="content-box highlight-box">
              <p>
                <b>Here's a hint:</b> What four related disciplines are also known by an acronym that could join this group?
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-box">

            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
