<!DOCTYPE html>
<html lang="en">
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <script type="text/javascript" src="/javascripts/values.js"></script>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content-box highlight-box-alt dark-links">
              <h3>Our Values</h3>
              <p>We strive to uphold our values...in our personal lives and in our business. They provide the foundation that Nightshade Urban Gardens is built upon. Check out each set of values below to learn how we’ve incorporated them as core aspects of our business. For a deeper dive, check out our <a href="manifesto.html">manifesto</a>.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="list-group mobile-hidden dark-links" id="value-list" role="tablist">
              <a class="list-group-item active" data-toggle="list" href="#honesty-integrity" role="tab">
                Honesty & Integrity
              </a>
              <a class="list-group-item" data-toggle="list" href="#nature-sustainability" role="tab">
                Nature & Sustainability
              </a>
              <a class="list-group-item" data-toggle="list" href="#flavor-aroma" role="tab">
                Flavor & Aroma
              </a>
              <a class="list-group-item" data-toggle="list" href="#beauty-serenity" role="tab">
                Beauty & Serenity
              </a>
              <a class="list-group-item" data-toggle="list" href="#health-nutrition" role="tab">
                Health & Nutrition
              </a>
              <a class="list-group-item" data-toggle="list" href="#empowerment-independence" role="tab">
                Empowerment & Independence
              </a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content mobile-hidden">
              <div class="tab-pane content-box active" id="honesty-integrity" role="tabpanel">
                <h3>Honesty & Integrity</h3>
                <img class="right-image values-image" src="./images/bleeding_heart_250_188.jpg" />
                <p>
                  Being genuine with the people we work with is at the heart of our business. We’re up-front with our clients about budgets, capabilities, expectations, and results. We don’t currently staff an artisan stone mason that can create that idyllic waterfall you’ve always dreamed about. What we do bring is integrity, passion, and an ever-growing fountain of knowledge and experience in the realms of native landscapes, good food, and organic gardening.
                </p>
              </div>
              <div class="tab-pane content-box" id="nature-sustainability" role="tabpanel" >
                <h3>Nature & Sustainability</h3>
                <img class="right-image values-image" src="./images/baby_bird_250_188.jpg" />
                <p>
                  Buzzkill: The leading cause of biodiversity loss is habitat destruction and degradation. In addition to providing produce for you, our landscapes aim to create habitat and forage for birds, pollinators, and other beneficial critters. Your plants will provide a safe haven for life to flourish. You’ll also be mitigating soil loss, reducing runoff, and lowering your fossil fuel footprint.
                </p>
              </div>
              <div class="tab-pane content-box" id="flavor-aroma" role="tabpanel">
                <h3>Flavor & Aroma</h3>
                <img class="right-image values-image" src="./images/soup_250_188.jpg" />
                <p>
                  Do you want to smell ridiculously amazing smells every single day of your life? Us too. Fresh, homegrown herbs and produce help bring out the full potential in the dishes and drinks you love to create, enjoy, and share. Savor impossibly fresh ingredients that blow the grocery store’s packaged crap out of the water.
                </p>
              </div>
              <div class="tab-pane content-box" id="beauty-serenity" role="tabpanel" >
                <h3>Beauty & Serenity</h3>
                <img class="right-image values-image" src="./images/passiflora_250_188.jpg" />
                <p>
                  Fact: Real, authentic natural environments are mind-blowingly gorgeous. And restorative! They provide a getaway from the stress and anxiety that can get the best of us all. Time and time again, science has shown the multitude of benefits of spending time in nature. (The nerd-word is “biophilia.”) Even a small space can yield a bounty of joy. To boot, many of the species we plant are absolute show-stoppers.
                </p>
              </div>
              <div class="tab-pane content-box" id="health-nutrition" role="tabpanel" >
                <h3>Health & Nutrition</h3>
                <img class="right-image values-image" src="./images/beet_cabbage_dill_250_166.jpg" />
                <p>
                  We give our plants multivitamins. Sort of. Did you know that adding trace minerals into the soil provides plants with all of the micro-nutrients they need to create a plethora of vitamins, minerals, and best of all, those glorious aromatic flavor compounds? Supermarket produce doesn’t come close in terms of nutrient density, even most of fancy “organic” stuff.
                </p>
              </div>
              <div class="tab-pane content-box" id="empowerment-independence" role="tabpanel" >
                <h3>Empowerment & Independence</h3>
                <img class="right-image values-image" src="./images/produce_200_150.jpg" />
                <p>
                  We believe that the ability to provide you and your loved ones with an essential human need is a pretty important life skill. We’ll get back to you when we figure out how to produce air and water ourselves (right after giving our Nobel acceptance speech). In the meantime, let us give you a kick start on your way to more liberty and less reliance on corporations and industrialized agriculture. We encourage everyone to become a more self-sufficient member of society and this planet!
                </p>
              </div>
            </div>
            <div class="mobile-only">
              <div class="content-box">
                <h3>Honesty & Integrity</h3>
                <p>
                  Being genuine with the people we work with is at the heart of our business. We’re up-front with our clients about budgets, capabilities, expectations, and results. We don’t currently staff an artisan stone mason that can create that idyllic waterfall you’ve always dreamed about. What we do bring is integrity, passion, and an ever-growing fountain of knowledge and experience in the realms of native landscapes, good food, and organic gardening.
                </p>
              </div>
              <div class="content-box">
                <h3>Nature & Sustainability</h3>
                <p>
                  Buzzkill: The leading cause of biodiversity loss is habitat destruction and degradation. In addition to providing produce for you, our landscapes aim to create habitat and forage for birds, pollinators, and other beneficial critters. Your plants will provide a safe haven for life to flourish. You’ll also be mitigating soil loss, reducing runoff, and lowering your fossil fuel footprint.
                </p>
              </div>
              <div class="content-box">
                <h3>Flavor & Aroma</h3>
                <p>
                  Do you want to smell ridiculously amazing smells every single day of your life? Us too. Fresh, homegrown herbs and produce help bring out the full potential in the dishes and drinks you love to create, enjoy, and share. Savor impossibly fresh ingredients that blow the grocery store’s packaged crap out of the water.
                </p>
              </div>
              <div class="content-box">
                <h3>Beauty & Serenity</h3>
                <p>
                  Fact: Real, authentic natural environments are mind-blowingly gorgeous. And restorative! They provide a getaway from the stress and anxiety that can get the best of us all. Time and time again, science has shown the multitude of benefits of spending time in nature. (The nerd-word is “biophilia.”) Even a small space can yield a bounty of joy. To boot, many of the species we plant are absolute show-stoppers.
                </p>
              </div>
              <div class="content-box">
                <h3>Health & Nutrition</h3>
                <p>
                  We give our plants multivitamins. Sort of. Did you know that adding trace minerals into the soil provides plants with all of the micro-nutrients they need to create a plethora of vitamins, minerals, and best of all, those glorious aromatic flavor compounds? Supermarket produce doesn’t come close in terms of nutrient density, even most of fancy “organic” stuff.
                </p>
              </div>
              <div class="content-box">
                <h3>Empowerment & Independence</h3>
                <p>
                  We believe that the ability to provide you and your loved ones with an essential human need is a pretty important life skill. We’ll get back to you when we figure out how to produce air and water ourselves (right after giving our Nobel acceptance speech). In the meantime, let us give you a kick start on your way to more liberty and less reliance on corporations and industrialized agriculture. We encourage everyone to become a more self-sufficient member of society and this planet!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <% include partials/footer %>
</html>
