@font-face {
  font-family: 'Vtks Revolt';
  src: url('Vtks_Revolt.ttf') format('truetype');
}
@font-face {
  font-family: 'FlowersInitials';
  src: url('FlowersInitials.ttf') format('truetype');
}
.script-font {
  font-family: 'Vtks Revolt', cursive;
  font-size: 58px;
  line-height: 24px;
  display: block;
  float: left;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
  color: #CCCCCC;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #2C0C4E;
  border-top: 2px solid #c59cf0;
}
.right {
  float: right;
}
.left {
  float: left;
}
body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 80px;
  background-color: #FFFFFF;
  color: #333333;
}
h1,
h2,
h3,
h4 {
  font-variant: small-caps;
  font-family: 'Yatra One', cursive;
}
h1 {
  font-size: 26px;
  margin-top: 0px;
}
h3 {
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
}
p {
  margin-bottom: 15px;
  text-align: justify;
}
li {
  text-align: justify;
}
a.strong {
  text-transform: uppercase;
}
.emphasize {
  text-decoration: underline;
}
.box-title {
  font-variant: small-caps;
  font-size: 18px;
}
.page-content a {
  color: #2C0C4E;
  text-decoration: underline;
  font-weight: bold;
}
.page-content a:hover,
.page-content a:focus {
  color: #E4C634;
}
.page-content a.btn {
  text-decoration: none;
  font-weight: normal;
}
.page-content a.btn:hover,
.page-content a.btn:focus {
  text-decoration: none;
}
.page-content a.btn-action {
  background-color: #176189;
  color: #FFFFFF;
}
.page-content a.btn-action:hover,
.page-content a.btn-action:focus {
  background-color: #2b9ddb;
  color: #FFFFFF;
}
.mobile-only {
  display: block;
}
.mobile-hidden {
  display: none;
}
.push-sm {
  margin-bottom: 10px;
}
.push-md {
  margin-bottom: 20px;
}
.push-lg {
  margin-bottom: 30px;
}
.dark-links a {
  color: #333333;
}
.dark-links a:hover,
.dark-links a:focus {
  color: #5e1aa6;
}
.large-p-text {
  font-size: 16px;
}
.highlight {
  color: #176189;
}
.inline-highlight {
  color: #E4C634;
}
.btn-lg {
  font-size: 18px;
  margin-bottom: 10px;
}
.center-text {
  text-align: center;
}
.accent-text {
  padding: 10px 16px 10px 16px;
  font-size: 18px;
}
.center-image {
  margin: auto;
  display: block;
}
.left-image {
  float: left;
  margin-right: 10px;
}
.right-image {
  float: right;
  margin-left: 10px;
}
.backstory-image {
  width: 100%;
  margin-bottom: 10px;
}
.personal-image {
  max-width: 225px;
  max-height: 225px;
}
.values-image {
  max-width: 150px;
}
.services-image {
  max-width: 150px;
}
.contact-image {
  max-width: 150px;
}
.contact-image-2 {
  width: 100%;
  max-width: 400px;
}
.gallery-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.h2-image {
  float: none;
  width: 100%;
}
.manifesto-quote-block {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}
.manifesto-quote {
  font-style: italic;
  font-weight: bold;
}
.banner {
  background-color: #2C0C4E;
  color: #CCCCCC;
  font-family: 'Yatra One', cursive;
  display: none;
}
.banner-head {
  font-size: 58px;
  line-height: 28px;
  padding-top: 15px;
  font-variant: small-caps;
}
.banner-subhead {
  font-size: 28px;
  font-variant: all-small-caps;
}
.banner a {
  text-decoration: none;
  color: #CCCCCC;
}
.navbar {
  margin-bottom: 0px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-default {
  background-color: #2C0C4E;
  border: 0;
  border-bottom: 2px solid #c59cf0;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #CCCCCC;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #CCCCCC;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #CCCCCC;
  background-color: #2C0C4E;
  text-decoration: underline;
  text-decoration-color: #E4C634;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #CCCCCC;
  background-color: #2C0C4E;
}
#navbar-override .dropdown-menu {
  background-color: #2C0C4E;
}
#navbar-override .dropdown-menu > li > a {
  color: #CCCCCC;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbar-override .dropdown-menu > li > a:focus,
#navbar-override .dropdown-menu > li > a:hover,
#navbar-override .dropdown-menu > .active > a {
  color: #CCCCCC;
  background-color: #2C0C4E;
  text-decoration: underline;
  text-decoration-color: #E4C634;
}
#navbar-override .dropdown-toggle {
  min-width: 163px;
}
.navbar-brand {
  color: #CCCCCC !important;
  font-family: 'Yatra One', cursive;
  font-size: 24px;
  display: block;
}
.navbar-title {
  font-variant: small-caps;
}
.navbar-subtitle {
  font-variant: all-small-caps;
  font-size: 16px;
}
.headline {
  margin-top: 10px;
  margin-bottom: 20px;
}
.banner {
  position: relative;
}
.splash {
  position: relative;
}
.splash-image {
  width: 100%;
  height: auto;
  min-height: 400px;
  background-image: url(../images/fall_color_1200_900.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.splash-image-overlay {
  color: black;
  background: #FFFD;
  position: absolute;
  top: 7%;
  left: 5%;
  /*transform: translate(0%, -50%);*/
  width: 45%;
  padding: 10px;
  border-top: 1px solid #c59cf0;
  border-bottom: 1px solid #c59cf0;
}
.splash-image-text {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.gardens-splash-image {
  width: 100%;
  height: auto;
  min-height: 275px;
  background-image: url(../images/sage_1200_900.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.gardens-splash-image-overlay {
  color: black;
  background: #FFFA;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.gardens-splash-image-text {
  margin-left: auto;
  margin-right: auto;
}
.contact-splash-image {
  width: 100%;
  height: auto;
  min-height: 275px;
  background-image: url(../images/cocktails_1140_875.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#ig-logo {
  width: 24px;
  height: 24px;
  margin-bottom: 0px;
}
.content-box {
  margin: 10px;
  margin-bottom: 20px;
  /*-webkit-box-shadow: @shadow @shadow-color;
  -moz-box-shadow: @shadow @shadow-color;
  box-shadow: @shadow @shadow-color;*/
}
.content-box h3,
.content-box h2,
.content-box h1 {
  margin-top: 0px;
}
.content-box h4:first-child {
  margin-top: 0px;
}
.content-box p:last-child {
  margin-bottom: 0px;
}
.content-box ul {
  padding-left: 20px;
}
.content-box li {
  margin-bottom: 5px;
}
.content-box .collapse p:last-child {
  margin-bottom: 10px !important;
}
.highlight-box {
  background-color: #E0CFF3;
  padding: 20px;
  margin-bottom: 20px;
}
.highlight-box h4 {
  font-variant: normal;
}
.highlight-box-alt {
  background-color: #F9F9F9 !important;
  border: 1px solid #E0CFF3;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: #E0CFF3 2px 2px;
}
.page-content a.list-group-item {
  text-decoration: none !important;
}
.page-content a.list-group-item:hover,
.page-content a.list-group-item:focus {
  color: #176189;
}
.page-content a.list-group-item.active {
  background-color: #176189;
  border-color: #176189;
}
.page-content a.list-group-item.active:hover,
.page-content a.list-group-item.active:focus {
  color: #FFFFFF;
}
.ig-scroller {
  width: 100%;
  padding-top: 10px;
}
.about-padded {
  padding-top: 45px !important;
}
.header-btn {
  width: 100%;
  height: 70px;
  text-align: left;
  background: #FFFFFF;
  border: none;
  font-size: 18px;
  font-family: 'Yatra One', cursive;
}
.header-btn:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: #CCCCCC;
  font-size: 12px;
}
.header-btn.collapsed:after {
  content: "\e114";
}
hr.header-border {
  margin-top: 0px;
  margin-bottom: 0px;
}
hr {
  border-top: 1px solid #c59cf0;
}
.contact-type {
  padding-right: 10px;
}
.contact-details {
  border-left: 1px solid;
  padding-left: 10px;
}
.parchment {
  background-image: url("../images/parchment.jpg");
  background-repeat: repeat;
  clip-path: polygon(0 3%, 0.1% 2.5%, 0.2% 1.5%, 0.5% 1.2%, 1% 1%, 6% 0.7%, 12% 0.4%, 18% 0.2%, 25% 0, 32% 0.2%, 38% 0.4%, 44% 0.7%, 50% 0.8%, 56% 0.7%, 62% 0.4%, 68% 0.2%, 75% 0%, 82% 0.2%, 88% 0.4%, 94% 0.7%, 99% 1%, 99.5% 1.2%, 99.8% 1.5%, 99.9% 2.5%, 100% 3%, 100% 100%, 0 100%, 0 2%);
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }
  h3 {
    margin-bottom: 15px;
  }
  .btn-lg {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .page-content {
    padding: 10px;
  }
  .navbar-brand {
    display: none;
  }
  .large-p-text {
    font-size: 22px;
  }
  .banner {
    display: block;
  }
  .headline {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .splash-image {
    min-height: 575px;
    background-image: url(../images/fall_color_1200_900.png);
  }
  .gardens-splash-image {
    min-height: 400px;
  }
  .splash-image-text {
    max-width: 700px;
  }
  .splash-image-overlay {
    width: 35%;
    padding: 20px;
    /*padding-top: 20px;
      padding-bottom: 20px;*/
  }
  #navbar-override .dropdown-menu {
    border: 2px solid #c59cf0;
    border-top: none;
    border-radius: 0px;
  }
  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
  .cell {
    min-height: 300px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .cell-inner {
    min-height: 300px;
    margin: 10px;
  }
  .content-box {
    margin-bottom: 30px;
  }
  .content-box div[class^="col-"]:first-child {
    padding-left: 0px !important;
    padding-right: 15px;
  }
  .content-box div[class^="col-"]:last-child {
    padding-left: 15px;
    padding-right: 0px !important;
  }
  .left-image {
    margin-right: 15px;
  }
  .right-image {
    margin-left: 15px;
  }
  .backstory-image {
    max-width: 350px;
  }
  .personal-image {
    max-width: 300px;
    max-height: 300px;
  }
  .services-image {
    max-width: 200px;
  }
  .values-image {
    max-width: 250px;
  }
  .contact-image {
    max-width: 200px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .h2-image {
    float: right;
    padding-top: 20px;
    padding-bottom: 10px;
    width: auto;
  }
  .manifesto-quote-block {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
  }
}
@media (min-width: 62em) {
  .mobile-only {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
  .splash-image-overlay {
    width: 25%;
  }
}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
