@background-color:      #FFFFFF;//#000000;
@text-color-dark:       #333333;
@text-color-light:      #CCCCCC;
@primary-color:         #2C0C4E; //deep purple //#140227;//#310661;//#290895;//#261758;
@primary-color-light:   lighten(@primary-color, 20%);
@primary-color-lighter: lighten(@primary-color, 60%);
@secondary-color:       #176189;//teal / blue #887CAF;
@secondary-color-light: lighten(@secondary-color, 20%);
@tertiary-color:        #199A2A;//green #4A9130
@tertiary-color-light:  lighten(@tertiary-color, 20%);

@highlight-color:       #E4C634;//canary yellow

@border-color:          @primary-color-lighter;
@shadow-color:          #D6BEEF;//lighten(@border-color, 10%);
@link-color:            @secondary-color;
@link-color-hover:      @secondary-color-light;
@button-color:          @secondary-color;
@button-color-hover:    @secondary-color-light;
@button-text-color:     #FFFFFF;

@thin-border:           2px solid;
@thick-border:          5px solid;

@shadow:                5px 5px 0px 0px;

@header-text-color:     @text-color-light;
@header-text-inv-color: @text-color-light;
@header-btn-color:      @primary-color;
@header-alt-color:      @primary-color-light;
@body-text-color:       @text-color-dark;

@revolt-font:           'Vtks Revolt';
@flower-font:           'FlowersInitials';
@playfair-font:         'Playfair Display';
@title-font:            'Yatra One', cursive;
@script-font:           @revolt-font;

@font-face {
  font-family: @revolt-font;
  src: url('Vtks_Revolt.ttf') format('truetype');
}

@font-face {
  font-family: @flower-font;
  src: url('FlowersInitials.ttf') format('truetype');
}

.script-font {
  font-family: @script-font,cursive;
  font-size: 58px;
  line-height: 24px;
  display: block;
  float: left;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  color: @header-text-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px; /* Vertically center the text there */
  background-color: @primary-color;
  border-top: @thin-border @border-color;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: 'Roboto', sans-serif;//Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 80px;
  background-color: @background-color;
  color: @body-text-color;
}

h1, h2, h3, h4 {
  font-variant: small-caps;
  font-family: @title-font;
}



h3 {
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
}

p {
  margin-bottom: 15px;
  text-align: justify;
}

li {
  text-align: justify;
}

a {
  color: @link-color;
  &:hover, &:focus {
    text-decoration: none;
    color: @link-color-hover;
  }
}

.mobile-only {
  display: block;
}

.push-sm {
  margin-bottom: 10px;
}

.push-md {
  margin-bottom: 20px;
}

.push-lg {
  margin-bottom: 30px;
}

.large-p-text {
  font-size: 20px;
}

.highlight {
  color: @secondary-color;
}

.inline-highlight {
  color: @highlight-color;
}

.btn-action {
  background-color: @button-color;
  color: @button-text-color;
  &:hover {
    background-color: @button-color-hover;
    color: @button-text-color;
  }
}

.btn-lg {
  font-size: 20px;
  margin-bottom: 10px;
}

.center-image {
  margin: auto;
  display: block;
}

.left-image {
  float: left;
  margin-right: 10px;
}

.backstory-image {
  max-width: 275px;
}

.personal-image {
  max-width: 225px;
}

.services-image {
  max-width: 200px;
}

.banner {
  background-color: @primary-color;
  color: @header-text-color;
  font-family: @title-font;
  display: none;
}

.banner-head {
  font-size: 58px;
  line-height: 28px;
  padding-top: 30px;
  font-variant: small-caps;
}

.banner-subhead {
  font-size: 28px;
  font-variant: all-small-caps;
}

.banner a {
  text-decoration: none;
  color: @header-text-color;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default {
  background-color: @primary-color;
  border: 0;
  border-bottom: @thin-border @border-color;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: @header-text-color;
  &:hover, &:focus {
    color: @header-text-color;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: @header-text-color;
  background-color: @header-btn-color;
  text-decoration: underline;
  text-decoration-color: @highlight-color;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: @header-text-color;
  background-color: @header-btn-color;
}

#navbar-override .dropdown-menu {
  background-color: @header-btn-color;
}

#navbar-override .dropdown-menu>li>a {
  color: @header-text-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar-override .dropdown-menu>li>a:focus, #navbar-override .dropdown-menu>li>a:hover, #navbar-override .dropdown-menu>.active>a {
  color: @header-text-color;
  background-color: @header-btn-color;
  text-decoration: underline;
  text-decoration-color: @highlight-color;
}

#navbar-override .dropdown-toggle {
  min-width: 163px;
}

.navbar-brand {
  color: @header-text-color !important;
  font-family: @title-font;
  font-size: 24px;
  display: block;
}

.navbar-title {
  font-variant: small-caps;
}

.navbar-subtitle {
  font-variant: all-small-caps;
  font-size: 18px;
}

#jumbotron-image {
  /*width: 100%;*/
  border: @thin-border @border-color;
  width: 100%;
  /*overflow: hidden;*/
}

#jumbotron-container {
  margin-left: 50px;
  margin-right: 50px;
  //border: @thin-border @border-color;
}

#jumbotron-footer {
  margin-top: 5px;
}

#ig-logo {
  width: 24px;
  height: 24px;
  margin-bottom: 0px;
}

.content-box {
  //border: @thin-border @border-color;
  margin: 10px;
  /*-webkit-box-shadow: @shadow @shadow-color;
  -moz-box-shadow: @shadow @shadow-color;
  box-shadow: @shadow @shadow-color;*/
}

.content-box img {
  width: 100%;
  margin-bottom: 20px;
}

.content-box h3, .content-box h2, .content-box h1 {
  margin-top: 0px;
}

.content-box h4:first-child {
  margin-top: 0px;
}

.content-box p:last-child {
  margin-bottom: 0px;
}

.content-box ul {
  padding-left: 20px;
}

.content-box li {
  margin-bottom: 5px;
}

.content-box .collapse p:last-child {
  margin-bottom: 10px !important;
}

.highlight-box {
  background-color: @primary-color-lighter;
  padding: 20px;
  margin-bottom: 20px;
}

.highlight-box h4 {
  font-variant: normal;
}

.highlight-box a {
  color: @button-color;
  &:hover, &:focus {
    text-decoration: none;
    color: @button-color-hover;
  }
}

.ig-scroller {
  width: 100%;
  padding-top: 10px;
}

.about-padded {
  padding-top: 45px !important;
}

.header-btn {
  width: 100%;
  height: 70px;
  text-align: left;
  background: @background-color;
  border: none;
  font-size: 18px;
  font-family: @title-font;
}

.header-btn:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: @header-text-color;
  font-size: 12px;
}

.header-btn.collapsed:after {
  content: "\e114";
}

hr.header-border {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  border-top: 1px solid @border-color;
}

.contact-type {
  padding-right: 10px;
}

.contact-details {
  border-left: 1px solid;
  padding-left: 10px;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .page-content {
      padding: 10px;
    }

    .navbar-brand {
      display: none;
    }

    .banner {
      display: block;
    }

    #navbar-override .dropdown-menu {
      border: @thin-border @border-color;
      border-top: none;
      border-radius: 0px;
    }

    .mobile-only {
      display: none;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .cell {
      min-height: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .cell-inner {
      min-height: 300px;
      margin: 10px;
    }

    .content-box {
      margin-bottom: 30px;
      //padding: 30px;
    }

    .content-box div[class^="col-"]:first-child {
      padding-left: 0px !important;
      padding-right: 15px;
    }

    .content-box div[class^="col-"]:last-child {
      padding-left: 15px;
      padding-right: 0px !important;
    }

    .left-image {
      margin-right: 15px;
    }

    .backstory-image {
      max-width: 350px;
    }

    .personal-image {
      max-width: 300px;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {

}
