@font-face {
  font-family: 'Vtks Revolt';
  src: url('Vtks_Revolt.ttf') format('truetype');
}

.revolt {
  font-family: 'Vtks Revolt',cursive;
  font-size: 64px;
  line-height: 10px;
  display: block;
  float: left;
}

html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #261758;
  border-top: 5px solid #887CAF;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 80px;
}

h3 {
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #4A9130;
}

a:hover, a:focus {
  color: #73B55B;
  text-decoration: none;
}

.btn-action {
  background-color: #73B55B;
  color: white;
}

.btn-action:hover {
  color: #E8EFE6;
}

.center-image {
  margin: auto;
  display: block;
}

.navbar-default {
  background-color: #261758;
  border: 0;
  border-bottom: 5px solid #887CAF;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #DDD;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #887CAF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: #261758;
}

#navbar-override .dropdown-menu {
  background-color: #261758;
}

#navbar-override .dropdown-menu>li>a {
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar-override .dropdown-menu>li>a:focus, #navbar-override .dropdown-menu>li>a:hover, #navbar-override .dropdown-menu>.active>a {
  color: #000;
  background-color: #887CAF;
}

.navbar-brand {
  color: #fff !important;
  font-size: 18px;
}

.navbar-title {
  font-variant: small-caps;
}

.navbar-subtitle {
  font-variant: all-small-caps;
  font-size: 16px;
}

.text-muted {
  color: #bbb !important;
}

.cell {
  background-color: #FFFFFF;
  height: 75px;
}

.cell-inner {
  background-color: #887CAF;
  margin: 20px;
  height: 75px;
}

.left-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 0px !important;
  max-width: 75px;
}

#jumbotron-image {
  /*width: 100%;*/
  border: 2px solid #887CAF;
  width: 100%;
  /*overflow: hidden;*/
}

.about-row {
  background-color: #FFFFFF;
  border: 1px solid #731DD8;
  margin: 10px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 1px 0px #887CAF;
  -moz-box-shadow: 2px 2px 1px 0px #887CAF;
  box-shadow: 5px 5px 0px 0px #887CAFBA;
}

.about-row div[class^="col-"]:first-child {
  padding: 0px;
}

.about-row div[class^="col-"]:last-child {
  padding: 0px;
}

.about-row img {
  width: 100%;
  margin-bottom: 20px;
}

.about-row h3 {
  margin-top: 0px;
}

.about-row h4:first-child {
  margin-top: 0px;
}

.about-row p:last-child {
  margin-bottom: 0px;
}

.about-row ul {
  padding-left: 20px;
}

.about-row li {
  margin-bottom: 5px;
}

.about-row .collapse p:last-child {
  margin-bottom: 10px !important;
}

.about-padded {
  padding-top: 45px !important;
}

.header-btn {
  width: 100%;
  height: 70px;
  text-align: left;
  background: white;
  border: none;
  font-size: 18px;
}

.header-btn:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: #887CAF;
  font-size: 12px;
}

.header-btn.collapsed:after {
  content: "\e114";
}

hr.header-border {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-details {
  word-wrap: break-word;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    .page-content {
      /*-webkit-box-shadow: 2px 2px 2px 0px #887CAF;
      -moz-box-shadow: 2px 2px 2px 0px #887CAF;
      box-shadow: 2px 2px 2px 0px #887CAF;*/
      padding: 10px;
      /*min-height: 200px;*/
    }

    .navbar-brand {
      font-size: 22px;
    }

    .navbar-subtitle {
      font-size: 18px;
    }

    #navbar-override .dropdown-menu {
      border: 3px solid #887CAF;
      border-top: none;
      border-radius: 0px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .cell {
      min-height: 300px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .cell-inner {
      min-height: 300px;
      margin: 10px;
    }

    .about-row {
      margin-bottom: 30px;
      padding: 30px;
    }

    .about-row div[class^="col-"]:first-child {
      padding-left: 0px !important;
      padding-right: 15px;
    }

    .about-row div[class^="col-"]:last-child {
      padding-left: 15px;
      padding-right: 0px !important;
    }

    .left-image {
      margin-right: 15px;
      max-width: 125px;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  .left-image {
    float: left;
    max-width: 200px;
  }
}
